.brands-slider__wrapper {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-top: 3rem;
}

.brands-slider-item-img,
.brands-slider-item {
    width: fit-content;
}

.brands-slider-item-img {
    display: flex;
    width: 100%;
    min-height: 150px;
    align-items: center;
}

.brands-slider-item {
    background-color: white;
    border-radius: 0.875rem;
    overflow: hidden;
    transition: .2s all ease-in-out;
}

@media (hover : hover) {
    
    .brands-slider-item:hover {
        scale: 1.05;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
    }
}

.brands-slider__wrapper .swiper-slide {
    width: fit-content !important;
}

.brands-slider__wrapper .swiper-wrapper {
    max-width: 950px;
}

.brands-slider__wrapper .swiper-slide:last-child {
    margin: 0 !important;
}
 
.brands-slider {
    display: flex;
    align-items: center;
    gap: 30px;
}

.brands-slider__btn a {
    font-stretch: normal;
    letter-spacing: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 56px;
    text-decoration: none;
    color: black;
}

.swiper-container-brands {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 200px;
}


.base-slider__arrow-prev-wrapper,
.base-slider__arrow-next-wrapper {
    z-index: 9999;
    background-color: white;
}

.base-slider__arrow-prev-wrapper {
    padding-right: 25px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba( var(--bs-light-rgb) ) 50%, rgba( var(--bs-light-rgb) ) 100%);
}

.base-slider__arrow-next-wrapper {
    padding-left: 25px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba( var(--bs-light-rgb) ) 50%, rgba( var(--bs-light-rgb) ) 100%);
}

.swiper-container-brands .base-slider__next ,
.swiper-container-brands .base-slider__prev {
    margin: 0;
    background-repeat: no-repeat;
    height: 150px;
    background-position: center;
}

.brands-slider-item {
    max-width: 150px;
    max-height: 150px;
}

.brands-slider-item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1230px) {
    .brands-slider {
        flex-direction: column;
    }
    .brands-slider__wrapper .swiper-wrapper {
        max-width: 80vw;
    }
}

@media (max-width: 700px) {
    .brands-slider__wrapper .swiper-wrapper {
        max-width: 75vw;
    }
}

@media (max-width: 550px) {
    .brands-slider__wrapper .swiper-wrapper {
        max-width: 65vw;
    }
}

@media (max-width: 400px) {
    .brands-slider__wrapper .swiper-wrapper {
        max-width: 60vw;
    }
}