@import 'variables';

a {
    transition: $transition-base;

    &:hover {
        text-decoration: none;
    }
}

body {
    background-color: $gray-800;
}

body > * {
    font-size: 0.75rem;
}

ul {
    padding-left: 1rem;
}

li {
    margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $gray-800;
}

.bg-gray-100 {
    background-color: $gray-100;
}

.bg-gray-200 {
    background-color: $gray-200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

input.form-check-input {
    background-size: auto;
    transition: $transition-base;

    .label:hover + &,
    &:hover {
        border-color: $gray-600;
    }

    .label:hover + &:checked,
    &:checked:hover {
        border-color: $secondary;
    }

    &:focus {
        border-color: $gray-600;
    }
}

.btn-lg {
    font-weight: 500;
}

.header-check {
}
