.icon-arrow-next {
  width: 1.17em;
  height: 1em;
}
.icon-arrow-prev {
  width: 1.17em;
  height: 1em;
}
.icon-arrow-right {
  width: 3.5em;
  height: 1em;
}
.icon-bibacord {
  width: 2.31em;
  height: 1em;
}
.icon-cadesign {
  width: 0.53em;
  height: 1em;
}
.icon-camera {
  width: 1.21em;
  height: 1em;
}
.icon-chevron-down {
  width: 1.6em;
  height: 1em;
}
.icon-chevron-right {
  width: 0.56em;
  height: 1em;
}
.icon-close {
  width: 1em;
  height: 1em;
}
.icon-fb {
  width: 1em;
  height: 1em;
}
.icon-grimm-audio {
  width: 2.81em;
  height: 1em;
}
.icon-ig {
  width: 1em;
  height: 1em;
}
.icon-less-loss {
  width: 5.92em;
  height: 1em;
}
.icon-like {
  width: 1.07em;
  height: 1em;
}
.icon-ok {
  width: 0.56em;
  height: 1em;
}
.icon-play {
  width: 0.88em;
  height: 1em;
}
.icon-plus {
  width: 1em;
  height: 1em;
}
.icon-profile {
  width: 1.09em;
  height: 1em;
}
.icon-search-reverse {
  width: 1em;
  height: 1em;
}
.icon-search {
  width: 1.09em;
  height: 1em;
}
.icon-tg {
  width: 1.11em;
  height: 1em;
}
.icon-triangle-down {
  width: 2em;
  height: 1em;
}
.icon-vk {
  width: 1em;
  height: 1em;
}
.icon-way {
  width: 1.39em;
  height: 1em;
}
.icon-yg-acoustics {
  width: 4.12em;
  height: 1em;
}
