.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 105;
    background-color: #F9F9F9;
}
.header__container {
    height: 100%;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.header__left {
    width: 100%;
}
.header__left, .header__right {
    display: flex;
    align-items: center;
    height: 100%;
}
.header__item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    width: 100%;
    max-width: 200px;
}
.header__mobile-menu {
    display: none;
    margin-right: 25px;
    width: 30px;
    height: 30px;
    align-items: center;
}
.header__logo .logo {
    position: relative;
    max-width: 149px;
    width: 100%;
}


.header__catalog {
    max-width: 124px;
    width: 100%;
    color: rgb(0, 0, 0);

}
.header__catalog .catalog-link {
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.catalog-link {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}
.catalog-link-icon {
    position: relative;
    width: 16px;
    height: 10px;
    margin-right: 13px;
}
.catalog-link-icon .line {
    display: block;
    height: 2px;
    background-color: #2A2B2B;
}
.catalog-link-icon .line--top {
    width: 12px;
}
.catalog-link-icon .line--middle {
    width: 16px;
    margin-top: 2px;
}
.catalog-link-icon .line--bottom {
    width: 7px;
    margin-top: 2px;
}



.header .header__navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header .menu__wrapper {
    display: flex;
    width: 100%;
}
.header .header__navigation .bigblock {
    display: flex;
}
.header .menu__wrapper .bigblock {
    flex-grow: 1;
    position: relative;
}
.header .header__navigation .subblock .men {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header .header__navigation .subblock .men .lupa {
    padding-left: 16px;
    padding-right: 16px;
}
.header .header__navigation .icon {
    padding-top: 7px;
}
.icon {
    display: inline-block;
    fill: currentColor;
    position: relative;
}
.header__navigation a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}
.header .header__navigation .bigblock .subblock {
    display: none;
}
.header .header__navigation .bigblock .subblock.active {
    display: inherit;
    position: absolute;
    z-index: 2;
    width: calc(100% + 33px);
    top: -7px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 12px;
    background: rgb(249, 249, 249);
}
.header .header__navigation .search {
    display: flex;
    width: 100%;
    align-items: center;
}
.header .header__navigation .menu__wrapper form {
    display: flex;
    width: 100%;
    align-items: center;
}
.header .header__navigation .search button{
    border: none;
    background: transparent;
}
.header .header__navigation .search .lupa {
    padding: 11px 11px 11px 21px;
}
.header .header__navigation .ajaxsearch__wrapper {
    flex-grow: 1;
}
.header .header__navigation .input-wrapper input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: transparent;
    letter-spacing: 1px;
}
.header .header__navigation .search .cross {
    padding-left: 16px;
    padding-right: 16px;
}

.header .soc {
    display: flex;
    border-right: 1px solid rgb(201, 201, 201);
    padding-left: 30px;
}
.header .soc .item {
    padding: 4px 15px;
}
.header .soc .item a .soc-logo {
    height: 36px;
    width: 36px;
    background-color: #C9C9C9;
}
.header .soc .item a .soc-logo-vk {
    -webkit-mask: url('images/head_vk.svg') no-repeat center;
    mask: url('images/head_vk.svg') no-repeat center;
}
.header .soc .item a .soc-logo-tg {
    -webkit-mask: url('images/head_tg.svg') no-repeat center;
    mask: url('images/head_tg.svg') no-repeat center;
}


.header__right {
    justify-content: flex-end;
    max-width: 260px;
    width: 100%;
    padding: 0 0 0 24px;
}
.header__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header__profile {
    position: relative;
    border: none;
    color: #2A2B2B;
}
.header__compare .compare-badge {
    display: block;
    position: absolute;
    top: -10px;
    right: -3px;
    color: white;
    background-color: #b2110e;
    border-radius: 20px;
    padding: 4px;
    font-size: 10px;
}
.header__cart {
    transition: background-color 0.2s ease;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    padding: 7px 23px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
}
.icon-profile {
    width: 1.09em;
    height: 1em;
}

/* lk { */
.modal__inner {
    background-color: #fff;
    width: 100%;
    margin: auto;
    position: relative;
    border-radius: 3px;
    color: #000;
    padding: 45px 52px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.21);
    transition: transform 0.3s ease-in 0.1s;
}
.modal-profile .modal__inner {
    max-width: 630px;
    width: 100%;
    padding: 0;
    border-radius: 28px;
}
.modal-profile .modal__close {
    position: absolute;
    top: 0;
    right: -40px;
}
.modal-profile .modal__close .icon {
    color: #fff;
    width: 25px;
    height: 25px;
}
.modal-profile__tabs .tabs__head {
    display: flex;
    border-bottom: none;
}
.modal-profile__tabs .tabs__item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    font-weight: 700;
    color: #fff;
    transition: color 0.25s ease;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #000;
}
.modal-profile__tabs .tabs__item.is-active {
    color: rgb(38, 38, 38);
    background-color: transparent;
    border-bottom: none;
}
.modal-profile__tabs .tabs__item:not(:first-child) {
    border-radius: 0 28px 0 28px;
}
.modal-profile__tabs .tabs__item:first-child {
    border-radius: 28px 0 28px 0;
}
.modal-profile__tabs .tabs__body {
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 450px;
    width: 100%;
}
.tabs__content {
    display: none;
    opacity: 0;
    animation: open-tabs .3s var(--ease);
}
.tabs__content.is-active {
    display: block;
    opacity: 1;
}
.customers__subscribe {
    display: flex;
    align-items: center;
}
.bx-authform-social, .bx-authform > .bx-title, hr.bxe-light{
    display: none;
}
.toggle {
    position: relative;
    border: 1px solid #D1D1D1;
    border-radius: 25px;
    width: 37px;
    height: 20px;
    padding: 1px 2px;
    flex-shrink: 0;
    display: block;
    margin-right: 18px;
}
.toggle input[type=checkbox] {
    display: none;
}
.toggle__item {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translate(0, -50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #000;
    pointer-events: none;
    transition: transform 0.25s ease, background-color 0.25s ease;
}
.toggle input[type=checkbox]:checked + .toggle__item {
    transform: translate(100%, -50%);
    background-color: #383838;
}
.modal-profile__content input[type=text], .modal-profile__content input[type=password]{
    padding: 27px 16px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 12px;
    color: rgb(137, 137, 137);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;

}
.ui-button.auth{
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0) !important;
    padding: 16px;
    color: rgb(249, 249, 249);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 5%;
    text-transform: uppercase;
    border: none;
    width: 100%;
    margin-top: 20px;
}
.modal-profile__tabs .tabs__body .policy, .modal-profile__tabs .tabs__body .policy a {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    max-width: 100%;
    margin: 42px auto 0;
    line-height: 22px;
    letter-spacing: 0;
    color: #000;
}
.modal-profile__tabs .tabs__body .forget-password__link {
    display: block;
    width: max-content;
    margin: 30px auto 0;

    color: rgb(153, 153, 153);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 10%;
    text-transform: uppercase;
}
/* lk }*/


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    overscroll-behavior: contain;
    flex-direction: column;
    padding: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.2s;
    background: rgba(0, 0, 0, 0.4);
    color: #2A2B2B;
}
.nav-catalog {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    transition: max-height 0.35s ease;
    z-index: 140;
    overflow: hidden;
}
.modal-another .modal__inner {
    background-color: #fff;
}
.nav-catalog .modal__inner {
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.nav-catalog__title {
    display: none;
}
.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 30px;
    height: 30px;
    z-index: 501;
}
.modal__close .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
}
.nav-catalog__grid {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    column-gap: 60px;
    row-gap: 60px;
    padding: 51px 0;
    overflow-y: auto;
}
.nav-catalog__item {
    display: flex;
}
.nav-catalog__item-img {
    position: relative;
    width: 100%;
    height: 100px;
    max-width: 100px;
    margin-right: 19px;
    border: 1px solid #E6E6E6;
}
.nav-catalog__item-img:before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100%;
}
.nav-catalog__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover; object-position: center";
}
.nav-catalog__item a {
    font-size: 16px;
    display: initial;
    color: #2A2B2B;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-catalog__item-inner ul {
    margin-top: 18px;
}
.nav-catalog__item-inner ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 18px;
}
.nav-catalog__item-inner ul li::before {
    content: "—";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.nav-catalog__item-inner ul li a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;
}


.nav-search {
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 100;
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}


.container {
    width: 100%;
    max-width: 1460px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}




/* contacts { */
section.contacts{
    margin-top: 42px;
}
.main {
    flex: 1 0 auto;
    padding-top: 60px;
}
.main.with_bread{
    padding-top: 0;
}
.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 24px;
}
.contacts-block {
    display: flex;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
}
.contacts-element {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 32px 32px 32px 0;
    width: 42.85%;
}
.contacts-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contacts-item {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 4px 24px 24px 24px;
}
.contacts-item > .contacts-info:not(:last-of-type) {
    border-bottom: 1px solid #c9c9c9;
}
.contacts-item > .contacts-info {
    padding: 20px 0;
}

.contacts-info__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    color: #000;
    margin-bottom: 8px;
}
.contacts-info__text {
    display: block;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
}
.contacts-info__work_time{
    display: flex;
    gap: 32px;
}
.contacts-info__text_list a {
    display: block;
    line-height: 1.5;
    color: #000;
}
.contacts-info__line{
    display: flex;
    justify-content: space-between;
}
.contacts-info__cont{
    display: flex;
    gap: 40px;
}
.contacts-info__soc{
    display: flex;
    gap: 30px;
}
.contacts-info__soc{
    display: flex;
    gap: 30px;
}
.contacts-info__soc .ico{
    display: block;
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: #000;
}
.contacts-info__soc .vk{
    width: 25px;
    height: 15px;
    mask-image: url('img/contacts/vk.svg');
}
.contacts-info__soc .tg{
    width: 22px;
    height: 17px;
    mask-image: url('img/contacts/tg.svg');
}
.contacts-info__text.phone_ico{
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #5476ff;
    display: inline-block;
    padding-left: 34px;
    background-image: url("img/contacts/phone-call.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.contacts-info__text.email_ico{
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #5476ff;
    display: inline-block;
    padding-left: 34px;
    background-image: url("img/contacts/email.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.contacts-button {
    margin-top: 20px;
    max-width: 300px;
    height: 57px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 0 60px;
    background: transparent;
    cursor: pointer;
}
.contacts-map {
    width: 57.15%;
    padding: 32px 0 32px 32px;
    border-left: 1px solid #C9C9C9;
}
.contacts-map .bx-yandex-view-layout{
    border-radius: 12px;
    overflow: hidden;
}
.bx-active .smart-filter-parameters-box-title-text, .smart-filter-parameters-box-title-text{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}
.smart-filter-parameters-box {
    position: relative;
}
@media screen and (max-width: 1650px) {
    .contacts-info__cont {
        gap: 16px;
    }
    .contacts-info__text.email_ico, .contacts-info__text.phone_ico {
        font-size: 14px;
        padding-left: 30px;
    }
    .contacts-info__text {
        font-size: 14px;
    }
    .contacts-button {
        margin-top: 9px;
        height: 48px;
        padding: 0 50px;
    }
    .contacts-item {
        padding: 4px 16px 24px 16px;
    }
    .contacts-item > .contacts-info {
        padding: 13px 0;
    }

}
@media screen and (max-width: 1150px) {
    .contacts-info__line {
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .contacts-element {
        width: 55%;
    }
    .contacts-map {
        width: 45%;
    }
    .contacts-block {
        border-top: none;
        border-bottom: none;
    }
    .contacts-map {
        border-left: none;
        margin-top: 30px;
        padding: 30px 0 0 0;
        height: inherit;
    }
}
@media screen and (max-width: 743px) {
    .contacts-map {
        width: 100%;
    }
    .contacts-info__work_time {
        gap: 4px;
        flex-direction: column;
    }
    .contacts-button {
        padding: 0 35px;
    }
    .contacts-element {
        width: 100%;
        padding: 0;
    }
    .section__title {
        font-size: 22px;
        margin-bottom: 22px;
    }
    .contacts-block {
        flex-flow: column;
        border: none;
    }
    section.contacts {
        margin-top: 0;
    }
}
@media screen and (max-width: 360px) {
    .contacts-info__cont {
        flex-direction: column;
        gap: 6px;
    }
}





/* contacts } */


/* modal-cart { */
.modal.is-active {
    opacity: 1;
    visibility: visible;
    transition-duration: 0.3s;
}
.modal-cart.modal.is-active .modal__inner {
    transform: translate(0, 0);
}
.modal-cart .modal__inner {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    max-width: 500px;
    transform: translateX(150%);
    transition: transform 0.35s ease-out;
    padding: 34px 25px;
    background-color: #F9F9F9;
}
.modal-cart .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.modal-cart .modal__header .section__title {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.modal-cart .modal__header .icon-close {
    width: 20px;
    height: 20px;
}
.modal-cart__content {
    position: relative;
    overflow: auto;
    height: calc(100% - 164px);
    margin-left: -25px;
    width: calc(100% + 50px);
    padding-left: 25px;
    padding-right: 25px;
}
.modal-cart__list {
    padding: 15px 0;
    border-top: 1px solid rgba(56, 56, 56, 0.3);
    border-bottom: 1px solid rgba(56, 56, 56, 0.3);
}
.modal-cart__item {
    position: relative;
    display: flex;
    padding: 5px 0 22px;
}
.modal-cart__item-img {
    position: relative;
    max-width: 138px;
    width: 100%;
    height: 100%;
    border: 1px solid #EAEAEA;
    margin-right: 15px;
    flex-shrink: 0;
}
.modal-cart__item-img:before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.5217391304%;
}
.modal-cart__item-img img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-cart__item-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 5px;
    padding-right: 50px;
}
.modal-cart__item-name a{
    color: #000;
}
.modal-cart__item-art {
    font-size: 14px;
    color: #999999;
    margin-bottom: 5px;
}
.modal-cart__item-priceinfo {
    display: flex;
    align-items: flex-start;
}
.modal-cart__item-count {
    display: flex;
    align-items: end;
    font-weight: bold;
    line-height: 1;
    font-size: 17px;
}
.modal-cart__item-count .count_measure {
    padding-left: 2px;
}
.modal-cart__item-count .count_divider {
    padding: 0 9px;
}
.modal-cart__item-price .price-new {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 5px;
}
.modal-cart__item-price .price-new .value {
    font-size: 17px;
}
.modal-cart__remove {
    position: absolute;
    top: 10px;
    right: 0;
}
.modal-cart__remove .icon {
    color: #000;
    width: 16px;
    height: 16px;
}
.modal-cart__total {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #E2E2E2;
    padding: 32px 25px 29px;
}
.modal-cart__total-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-cart__total-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
}
.modal-cart__total-value .price-new {
    font-size: 8px;
    line-height: 1;
    margin-bottom: 0;
}
.modal-cart__total-value .price-new .value {
    font-size: 20px;
}
.modal-cart__total .ui-button--red {
    color: #000;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #000;
    margin-top: 32px;
    height: 57px;
    font-size: 20px;
}
/* modal-cart } */



.customers{
    margin-top: 140px;
    min-height: 60vh;
}
.customers.with_bread{
    margin-top: 40px;
}

.customers h1{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 24px;
}
.customers .text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #383838;
    margin-bottom: 40px;
    max-width: 900px;
}
.customers h2{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.customers__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.customers__list .section-list__item{
    padding-left: 19px;
    position: relative;
}
.customers__list .section-list__item::before{
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #000;
    top: 10px;
    left: 0;
    border-radius: 50%;
    width: 7px;
    height: 7px;

}

footer{
    background: rgb(0, 0, 0);
    margin-top: 80px;
}

.footer-logo{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

.footer-head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 34px;
    padding: 25px 0 27px 0;
    border-bottom: 1px solid rgb(249, 249, 249);
}

.footer-head .footer-logo {
    grid-area: 1 / 1 / 2 / 2;
}
.footer-head .footer__nav {
    grid-area: 1 / 2 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 34px;
}
.footer-content{
    padding: 43px 0 80px 0;
}
.footer__nav a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.footer__social .footer__social-title{
    color: rgb(249, 249, 249);
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    padding-bottom: 10px;
}
.footer__social .soc{
    display: flex;
    align-items: center;
    gap: 22px;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 34px;
}
.footer-content .footer__social{
    grid-area: 1 / 1 / 2 / 2;
}
.footer-content .footer__info{
    grid-area: 1 / 2 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 34px;
}
.footer__links-list{
    display: flex;
    flex-direction: column;
}
.footer__info a, .footer-content .footer__info{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
}
.footer-bottom-copy{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 34px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
}
.footer-bottom-copy a{
    color: rgb(255, 255, 255);
}

.footer__info .accordion__head {
    display: none;
}


@media (max-width: 1640px) {
    .container {
        padding-left: 8%;
        padding-right: 8%;
    }
}
@media (max-width: 1439px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 1300px) {
    .header .soc{
        display: none;
    }

}
@media screen and (max-width: 1024px) {

    .footer-content {
        flex-flow: column;
    }
}
@media screen and (max-width: 743px) {
    .header__container {
        border-bottom: 1px solid #BDBDBD;
    }
    .breadcrumbs-row {
        margin-top: 90px;
        margin-bottom: 4px;
    }
    .customers.with_bread {
        margin-top: 5px;
    }
    .customers h1 {
        font-size: 22px;
    }
    .customers h2 {
        font-weight: 700;
        font-size: 16px;
    }
    .customers__list {
        gap: 8px;
    }
    .customers .text {
        font-size: 14px;
    }

    .header__catalog {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 62px;
        max-width: 100%;
        border-right: none;
        z-index: 101;
        background-color: #f0f0f0;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.07);
    }

    .nav-catalog.is-active {
        top: 0;
        max-height: 100%;
        transform: translateY(0);
        overflow: hidden;
    }
    .nav-catalog::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
        opacity: 0;
        transition: opacity 0.25s ease-out;
        transition-delay: 0s;
    }
    .nav-catalog.is-active::before {
        opacity: 1;
        transition-delay: 0.35s;
    }
    .nav-catalog .modal__inner {
        position: relative;
        z-index: 2;
        background-color: #f0f0f0;
    }
    .nav-catalog__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 16px;
        padding: 21px 15px;
    }
    .nav-catalog__title::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 1px;
        height: 1px;
        background-color: #fff;
        border-bottom: 1px solid #383838;
    }
    .nav-catalog__grid {
        grid-template-columns: repeat(1, 12fr);
        padding: 20px 10px 20px;
        max-height: calc(100vh - 110px);
        overflow: auto;
    }
    .nav-catalog__title svg {
        width: 17px;
        height: 17px;
    }

    .header__navigation {
        display: none !important;
    }
    .header__profile {
        display: none;
    }
    .header__container .header__compare {
        display: none;
    }
    .header__actions {
        justify-content: flex-end;
    }
    .header__mobile-menu {
        display: flex;
        cursor: pointer;
    }

    .mobile-menu.modal {
        top: initial;
        bottom: 0;
        transform: translateX(-150%);
        transition: transform 0.35s ease-out, opacity 0.25s ease-out;
    }
    .mobile-menu.modal.is-active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition-duration: 0.3s;
    }
    .mobile-menu .modal__inner {
        max-width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        padding: 0;
    }
    .modal__inner {
        background-color: #fff;
        width: 100%;
        margin: auto;
        position: relative;
        border-radius: 3px;
        color: #000;
        padding: 45px 52px;
        box-shadow: 0 4px 50px rgba(0, 0, 0, 0.21);
        transition: transform 0.3s ease-in 0.1s;
    }
    .mobile-menu__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #383838;
        height: 62px;
    }
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        border: none !important;
    }
    .header__left {
        width: 100%;
    }
    .header__left, .header__right {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .header__logo {
        max-width: 190px;
        border-right: none;
        display: flex;
        align-items: center;
    }
    .header__mobile-menu {
        display: flex;
        margin-right: 25px;
        width: 30px;
        height: 30px;
        align-items: center;
    }
    .mobile-menu .close svg{
        width: 17px;
        height: 17px;
    }
    .mobile-menu__header .header__actions {
        justify-content: space-around;
    }
    .mobile-menu__header .header__search, .mobile-menu__header .header__profile {
        display: block;
    }
    .mobile-menu__header .header__search .icon {
        font-size: 18px;
    }
    .mobile-menu__header .icon-search {
        width: 1.09em;
        height: 1em;
    }
    .mobile-menu__header .header__search {
        border: none;
        background-color: transparent !important;
    }
    .mobile-menu__header .header__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        border: none !important;
    }
    .mobile-menu__content {
        background-color: #f0f0f0;
        padding: 26px 10px;
    }
    .mobile-menu__list a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        color: #2A2B2B;
        font-size: 14px;
        line-height: 1;
    }
    .mobile-menu__list a .icon {
        font-size: 10px;
        color: transparent;
        stroke: #2A2B2B;
    }
    .mobile-menu__list .icon-chevron-right {
        width: 0.56em;
        height: 1em;
    }
    .mobile-menu__contacts {
        margin-top: 21px;
    }
    .mobile-menu__title {
        font-size: 14px;
        color: rgba(42, 43, 43, 0.5);
        margin-bottom: 8px;
    }
    .mobile-menu__contacts a {
        display: block;
        width: max-content;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: rgb(42, 43, 43);
        margin-bottom: 5px;
    }
    .mobile-menu__social {
        margin-top: 21px;
    }


    .footer__info .accordion__head {
        display: flex;
        text-transform: uppercase;
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        width: 100%;
        position: relative;
        cursor: pointer;
    }
    .footer-content .footer__info {
        display: block;
    }
    .footer-head .footer__nav{
        display: none;
    }
    .footer__info .accordion__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease;
    }
    .footer__info .accordion__arrow {
        width: 12px;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 10px;
    }
    .footer__info .accordion__arrow::after, .footer__info .accordion__arrow::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 50%;
        height: 1px;
        background-color: #fff;
        transition: transform .15s ease;
    }
    .footer__info .accordion__arrow::before {
        left: 0;
        transform: translateY(-50%) rotate(30deg);
        transition: transform .15s ease;
    }
    .footer__info .accordion.is-open .accordion__arrow::before {
        transform: translateY(-50%) rotate(-35deg);
    }
    .footer__info .accordion.is-open .accordion__arrow::after {
        transform: translateY(-50%) rotate(35deg);
    }
    .footer__info .accordion__arrow::after {
        right: 1px;
        transform: translateY(-50%) rotate(-30deg);
        transition: transform .15s ease;
    }
    .footer__info .accordion__body{
        padding-top: 15px;
    }
    .footer-content {
        display: flex;
    }
    .footer__social {
        width: 100%;
        order: 2;
        margin-bottom: 35px;
    }
    .footer__info {
        flex-flow: column;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .footer-content {
        padding: 43px 0 10px 0;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-catalog .modal__inner {
        padding: 40px 0;
    }

}
@media screen and (max-width: 500px) {
    .footer-bottom-copy {
        display: block;
    }

}

img {
	opacity: 1;
	transition:
	opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}