.warranty-form .invalid-feedback {
  font-size: 0.75rem;
}

.warranty-form .input--required label::after {
  content: "*";
  color: #eb5806;
  font-size: 1.2em;
}

.warranty-form .textarea label {
  font-size: 1rem;
}

.warranty-form__success-message {
  margin-bottom: 0;
}

section.contacts {
  padding-bottom: 64px;
}

section.contacts.bottom {
  padding-bottom: 128px;
}

.contacts.bottom {
  padding-top: 0;
}

.contacts.bottom .contacts__wrap {
  align-items: flex-start;
}

.contacts.bottom .contacts__card {
  padding: 0;
  border: unset;
}

.contacts__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  letter-spacing: -0.01em;
  margin: 0;
}

.contacts__title span {
  color: var(--color-primary);
}

.contacts.bottom .contacts__info {
  margin-bottom: 32px;
}

.contacts.bottom .contacts__inf {
  font-size: 16px;
  line-height: 21.6px;
  color: var(--color-dark4);
}

.contacts.bottom .contacts__inf a {
  color: var(--color-primary);
  font-size: 18px;
  line-height: 24.3px;
  text-decoration: underline;
  white-space: nowrap;
}

.contacts.bottom .contacts__inf.phone a {
  color: var(--color-dark6);
  font-weight: 600;
  text-decoration: none;
}

.input__container {
  margin-bottom: 24px;
}

.form__wrap-half {
  display: flex;
}

.form__half,
.contacts__card.form .button {
  width: 100%;
}

.form__half:not(:last-child) {
  margin-right: 24px;
}

.input__container textarea {
  background-color: var(--color-gray1);
  padding: 12px;
  border-radius: 8px 8px 0 0;
  border: none;
  border-bottom: 1px solid var(--color-gray3);
  color: var(--color-dark6);
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  height: 132px
}

.contacts-form__agree {
  font-size: 14px;
  line-height: 18.2px;
  text-align: center;
  margin-top: 24px;
  color: var(--color-gray5)
}

.contacts.bottom .contacts__submit {
  display: inline-block;
  border-radius: 12px;
  padding: 13px 24px;
  background-color: var(--color-primary);
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

@media (width <=1024px) {
  .contacts.bottom .contacts__wrap {
    gap: 32px;
  }

  .contacts__info-wrap {
    display: flex;
  }

  .contacts.bottom .contacts__info {
    margin-bottom: 0;
  }

  .contacts.bottom .contacts__info:not(:last-child) {
    margin-right: 48px;
  }
}

@media (width <=900px) {
  .contacts.bottom .contacts__info:not(:last-child) {
    margin-right: 24px;
  }

  .contacts.bottom .contacts__info:nth-child(2) {
    margin-right: 9px;
  }

  section.contacts {
    padding-bottom: 48px;
  }

  section.contacts.bottom {
    padding-bottom: 64px;
  }
}

@media (width <=767px) {
  .contacts__info-wrap {
    flex-direction: column;
  }

  .contacts.bottom .contacts__info:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .form__wrap-half {
    flex-direction: column;
  }
}

@media (width <=600px) {
  .contacts.bottom .contacts__info {
    flex-direction: row;
  }
}