.basket-container h1 {
	margin: 16px 0 0 0;
	padding: 0;
	font-size: 64px;
	line-height: 70.4px;
	letter-spacing: -0.001px;
	font-weight: 600;
	color: var(--color-dark6);
}

.basket-container {
	padding: 0 64px;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.basket-top-block {
	padding: 64px 0 32px;
}

.basket-content {
	display: grid;
	grid-template-columns: 1fr 402px;
	gap: 48px;
	align-items: start;
	padding: 32px 0;
}

.basket-items {
	display: flex;
	flex-direction: column;
}

.basket-item {
	border-top: 1px solid var(--color-gray2);
	width: 100%;
	padding: 24px 0;
	display: flex;
	align-items: start;
	position: relative;
}

.remove-item-block {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgb(255, 255, 255) 33%);
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.remove-item-block .remove-item-content > span {
	color: var(--color-dark6);
	font-weight: 700;
	font-size: 16px;
	line-height: 21.6px;
	margin-bottom: 24px;
	display: block;
	text-align: center;
}

.remove-item-block .remove-item-content .buttons-block {
	display: flex;
	align-items: stretch;
	gap: 12px;
}

.remove-item-block .remove-item-content .buttons-block span {
	cursor: pointer;
	padding: 13px 28px;
	border-radius: 12px;
	text-transform: uppercase;
	background-color: var(--color-dark0);
	color: var(--color-dark6);
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	height: 50px;
	display: flex;
	align-items: center;
	width: 138px;
	justify-content: center;
}

.remove-item-block .remove-item-content .buttons-block span.remove-item {
	background-color: var(--color-dark6);
	color: white;
}

.basket-item.remove .remove-item-block {
	display: flex;
}

.basket-item:last-child {
	padding-bottom: 0;
}

.basket-item .image-block {
	min-width: 217px;
	max-width: 217px;
	min-height: 237px;
	max-height: 237px;
	background-color: var(--color-dark0);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
}

.basket-item .image-block img {
	max-width: 100%;
}

.basket-item .right-item-block {
	width: 100%;
	display: flex;
}

.basket-item .item-info-block {
	max-width: 599px;
	width: 100%;
	margin-right: 48px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.basket-item .item-info-block span {
	display: block;
	font-size: 16px;
	line-height: 21.6px;
	font-weight: 400;
	color: var(--color-dark6);
}

.basket-item .item-info-block span.item-name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.basket-item .item-info-block span.item-section {
	color: var(--color-gray5);
}

.basket-item .item-info-block .item-prop-info-block {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.basket-item .item-info-block .item-prop-info-block .prop-info {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;
}

.basket-item .item-info-block .item-prop-info-block .prop-info[data-prop-code="COLOR"] .color-circle {
	display: block !important;
}

.basket-item .item-info-block .item-prop-info-block .prop-info .color-circle {
	min-width: 20px;
	max-width: 20px;
	min-height: 20px;
	max-height: 20px;
	border: 1px solid var(--color-dark6);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: none;
}

.basket-item .count-price-item-block {
	display: flex;
	align-items: start;
	gap: 48px;
}

.basket-item .count-price-item-block .count-price-block {
	display: flex;
	align-items: center;
	gap: 8px;
	min-width: 130px;
	max-width: 130px;
}

.basket-item .count-price-item-block .count-price-block svg {
	cursor: pointer;
	display: block;
	padding: 8px;
	min-width: 36px;
	max-width: 36px;
	min-height: 36px;
	max-height: 36px;
}

.basket-item .count-price-item-block .count-price-block svg path {
	fill: var(--color-dark6);
}

.basket-item .count-price-item-block .count-price-block svg.active-count path {
	fill: var(--color-primary);
}

.basket-item .count-price-item-block .count-price-block  input {
	-moz-appearance: textfield;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--color-gray3);
	width: 42px;
	padding: 0;
	height: 46px;
	font-size: 14px;
	line-height: 18.2px;
	font-weight: 400;
	color: var(--color-dark4);
	text-align: center;
}

.basket-item .count-price-item-block .count-price-block  input::-webkit-outer-spin-button,
.basket-item .count-price-item-block .count-price-block  input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.basket-item .count-price-item-block .price-block {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 190px;
	width: 100%;
	margin-right: 48px;
}

.basket-item .count-price-item-block .price-block span {
	white-space: nowrap;
}

.basket-item .delete-basket-item {
	padding: 11px;
	margin-left: auto;
	cursor: pointer;
}

.basket-item .delete-basket-item svg {
	min-width: 24px;
	max-width: 24px;
	min-height: 24px;
	max-height: 24px;
}

.basket-item .count-price-item-block .price-block .item-sale-price,
.basket-item .count-price-item-block .price-block .item-price {
	font-weight: 600;
	font-size: 28px;
	line-height: 33.6px;
	letter-spacing: -0.001px;
	color: var(--color-dark6);
}

.basket-item .count-price-item-block .price-block .item-sale-price {
	color: var(--color-primary);
}

.basket-item .count-price-item-block .price-block .old-price {
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: var(--color-dark4);
	text-decoration: line-through;
}

.basket-total {
	padding: 24px;
	border-radius: 8px;
	width: 100%;
	height: fit-content;
	background-color: #FFF7F4;
	display: flex;
	flex-direction: column;
}

.basket-total span {
	display: block;
}

.basket-total .total-text {
	font-size: 16px;
	line-height: 21.6px;
	font-weight: 400;
	color: var(--color-dark4);
}

.basket-total .total-price {
	color: var(--color-dark6);
	font-size: 24px;
	line-height: 32.4px;
	font-weight: 700;
	letter-spacing: -0.006px;
	margin-top: 8px;
}

.basket-total .basket-info {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.basket-total .basket-info .info-item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.basket-total .basket-info .info-item span {
	display: block;
	font-size: 16px;
	line-height: 21.6px;
	font-weight: 400;
	width: fit-content;
	color: var(--color-dark6);
	white-space: nowrap;
}

.basket-total .basket-info .info-item span.info-value {
	font-weight: 600;
}

.basket-total .basket-info .info-item .basket-line {
	width: 100%;
	height: 1px;
	background-color: var(--color-gray3);
}

.basket-total .basket-info .info-item.sale span {
	color: var(--color-primary);
}

.basket-total .to-order-button {
	padding: 28px 32px;
	border-radius: 16px;
	width: 100%;
	display: block;
	margin-top: 16px;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	line-height: 18.2px;
	color: white !important;
	text-decoration: none;
	text-transform: uppercase;
	background-color: var(--color-primary) !important;
	text-align: center;
	border: none !important;
}

.basket-content.empty-basket {
	padding: 134px 0;
	display: block;
}

.basket-content.empty-basket .empty-basket-block {
	width: fit-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.basket-content.empty-basket .empty-basket-block .icon {
	margin-bottom: 16px;
}

.basket-content.empty-basket .empty-basket-block h3 {
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 28px;
	line-height: 33.6px;
	letter-spacing: -0.001px;
	color: var(--color-dark6);
}

.basket-content.empty-basket .empty-basket-block p {
	margin: 0;
	color: var(--color-dark4);
	font-size: 16px;
	line-height: 20.8px;
	font-weight: 400;
}

.basket-content.empty-basket .empty-basket-block p a {
	text-decoration: underline;
	color: var(--color-dark4);
}

.row:before,
.row:after,
#bonus_all {
	display: none !important;
}

.row.basket-total-row {
	margin: 0 !important;
	padding: 0 !important;
}

@media (max-width: 1400px) {
	.basket-container {
		padding: 0 32px;
	}
}

@media (max-width: 1260px) {
	.basket-content {
		grid-template-columns: 1fr;
	}

	.basket-total {
		max-width: 402px;
	}
}

@media (max-width: 870px) {
	.basket-item {
		display: grid;
		grid-template-areas:
        "a b"
        "c c";
		grid-template-columns: 132px 1fr;
		row-gap: 24px;
		column-gap: 16px;
	}

	.basket-item .image-block {
		grid-area: a;
	}

	.basket-item .item-info-block {
		grid-area: b;
	}

	.basket-item .right-item-block {
		grid-area: c;
		display: grid;
		grid-template-columns: 60% 40%;
	}

	.basket-item .image-block {
		min-width: 132px;
		max-width: 132px;
		min-height: 144px;
		max-height: 144px;
	}

	.basket-item .item-info-block span {
		font-size: 14px;
		line-height: 18.2px;
	}

	.basket-item .count-price-item-block .price-block .item-sale-price,
	.basket-item .count-price-item-block .price-block .item-price {
		font-size: 20px;
		line-height: 26px;
	}

	.basket-item .count-price-item-block .price-block .old-price {
		font-size: 14px;
		line-height: 18.2px;
	}

	.basket-item .count-price-item-block .count-price-block {
		order: 1;
	}

	.basket-item .count-price-item-block {
		justify-content: space-between;
	}

	.basket-container {
		padding: 0 16px;
	}

	.basket-total .to-order-button {
		font-size: 12px;
		line-height: 14px;
		padding: 17px 32px;
	}

	.basket-total {
		padding: 16px;
	}

	.basket-content {
		gap: 24px;
	}

	.basket-container h1 {
		font-size: 40px;
		line-height: 44px;
	}
}

@media (max-width: 767px) {
	.basket-item-property-custom.prop-info.hidden-xs {
		display: flex !important;
	}
}

@media (max-width: 460px) {
	.basket-total {
		max-width: 100%;
	}

	.row.basket-total-row {
		margin: 0 16px !important;
	}

	.basket-item .count-price-item-block .price-block {
		min-width: 130px;
		margin: 0;
	}

	.basket-item .count-price-item-block {
		gap: 0;
	}
}