.c404 {
   padding: 32px 64px 128px;
   display: flex;
   align-items: center;
   min-height: 100dvh;
   justify-content: center;

   @media (max-width: 1400px) {
      padding: 32px 32px 128px;
   }

   @media (max-width: 768px) {
      padding: 32px 16px 64px;
   }

   &__container {
      max-width: 636px;
      margin: 0 auto;
   }

   &__img {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 0 auto 48px;

      @media (max-width: 768px) {
         width: 313px;
      }
   }

   &__title {
      margin: 0 0 16px;
      overflow: hidden;
      color: var(--Dark-Dark-6, #354052);
      text-overflow: ellipsis;
      font-size: 48px;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.48px;
      text-align: center;

      @media (max-width: 768px) {
         font-size: 28px;
         letter-spacing: -1.12px;
      }
   }

   &__text {
      margin: 0 0 48px;
      color: var(--Dark-Dark-4, #6f7785);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 135%;

      & a {
         text-decoration-line: underline;
         color: inherit;
         font-size: inherit;
         font-weight: inherit;
         line-height: 1.3;

         &:hover {
            text-decoration: none;
         }
      }
   }

   &__links {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      margin: 0 auto;
      width: fit-content;

      & a {
         color: var(--Primary-Primary-6, #ec6624);
         font-size: 16px;
         font-weight: 600;
         line-height: 135%;
      }
   }
}
