.aboutHead {
   padding: 144px 64px 32px;
   min-height: 740px;
   display: flex;
   background: url("/img/pattern.png") no-repeat center / cover;
   background-color: #171a1f;

   @media (max-width: 1400px) {
      padding: 144px 32px 32px;
   }

   @media (max-width: 768px) {
      padding: 72px 16px 32px;
   }

   &__container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 auto;
      max-width: 1920px;
   }

   &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
      flex-direction: column;
   }

   &__title {
      color: var(--Other-White, #fff);
      text-align: center;
      font-size: 64px;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.64px;
      margin: 0;

      @media (max-width: 768px) {
         font-size: 40px;
         letter-spacing: -1.6px;
      }
   }

   &__text {
      color: var(--Other-White, #fff);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 135%;
      margin: 16px auto 0;
      max-width: 840px;
   }
}

.about {
   padding: 64px 64px 128px;

   @media (max-width: 1400px) {
      padding: 64px 32px 128px;
   }

   @media (max-width: 768px) {
      padding: 32px 16px 64px;
   }

   &__container {
      margin: 0 auto;
      max-width: 1920px;
   }

   &__textWrap {
      display: flex;
      gap: 32px;
      align-items: flex-start;

      @media (max-width: 1024px) {
         flex-direction: column;
      }
   }

   &__col {
      width: calc(50% - 16px);

      @media (max-width: 1024px) {
         width: 100%;
      }
   }

   &__title {
      color: var(--Dark-Dark-6, #354052);
      font-size: 28px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.28px;
      margin: 0;

      @media (max-width: 768px) {
         font-size: 20px;
         line-height: 1.3;
         letter-spacing: -0.8px;
      }

      & span {
         color: var(--Primary-Primary-6, #ec6624);
         font-weight: inherit;
      }
   }

   &__text {
      color: var(--Dark-Dark-4, #6f7785);
      font-size: 18px;
      font-weight: 400;
      line-height: 135%;
      margin: 0;
   }

   &__link {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      border-radius: var(--Mobile, 16px);
      border: 1px solid var(--Dark-Dark-1, #e0e4eb);
      color: var(--Dark-Dark-6, #354052);
      font-size: 14px;
      font-weight: 600;
      line-height: 1.714;
      text-transform: uppercase;
      padding: 27px 31px;
   }

   &__gallery {
      margin-top: 64px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      & img {
         display: block;
         width: calc(25% - 24px / 4);
         aspect-ratio: 442/468;
         object-fit: cover;

         @media (max-width: 600px) {
            width: calc(50% - 4px);
         }
      }
   }
}
