.contacts {
    padding: 32px 64px 128px;

    @media (max-width: 1400px) {
        padding: 32px 32px 128px 32px;
    }

    @media (max-width: 768px) {
        padding: 32px 16px 64px;
    }

    &__wrap {
        max-width: 1920px;
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        margin: 0 auto;
    }

    &__card {
        border-radius: var(--Radius-Modal, 8px);
        border: 1px solid var(--Dark-Dark-1, #e0e4eb);
        width: calc(50% - 24px);
        padding: 23px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            padding: 15px;
        }

        & iframe {
            display: block;
            width: 100% !important;
            height: 496px !important;
            border-radius: var(--Radius-Modal, 8px);
            overflow: hidden;

            @media (max-width: 1400px) {
                height: 358px !important;
            }

            @media (max-width: 1024px) {
                height: 548px !important;
            }

            @media (max-width: 768px) {
                height: 394px !important;
            }

            @media (max-width: 600px) {
                height: 174px !important;
            }
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__icon {
        width: 36px;
        min-width: 36px;
        height: 36px;
        border-radius: 100px;
        border: 1px solid var(--Dark-Dark-1, #e0e4eb);
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            display: block;
            width: 20px;
            height: auto;
        }
    }

    &__inf {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1 1 auto;
    }

    &__addr {
        color: var(--Dark-Dark-6, #354052);
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -0.2px;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;

        @media (max-width: 1024px) {
            justify-content: space-between;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }

        & span {
            color: var(--Other-White, #fff);
            font-size: 12px;
            font-weight: 400;
            line-height: 130%;
            padding: 4px 8px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            border-radius: 100px;
            background: var(--Primary-Primary-6, #ec6624);
            white-space: nowrap;
        }
    }

    &__link {
        color: var(--Dark-Dark-4, #6f7785);
        font-size: 16px;
        font-weight: 400;
        line-height: 135%;
        margin: 0;
        transition: all 0.3s;
    }
}
