/* Кнопки */
.button.button-primary {
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: var(--color-primary);
  display: block;
}

.button.button-secondary {
  background-color: white;
  border: 1px solid var(--color-dark1);
  text-transform: uppercase;
  color: var(--color-dark6);
  border-radius: 12px;
  display: block;
}

/* Инпуты */
.input {
  background-color: var(--color-gray1);
  padding: 12px;
  border-radius: 8px 8px 0 0;
  border: none;
  border-bottom: 1px solid var(--color-gray3);
  color: var(--color-dark6);
  font-size: 16px;
  line-height: 21px;
  width: 100%;
}

.input::placeholder {
  color: var(--color-gray5);
}

/* Слайдер */
.slider-button-prev,
.slider-button-next {
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.slider-button-prev {
  transform: rotate(180deg);
}

.slider-button-prev.swiper-button-disabled,
.slider-button-next.swiper-button-disabled {
  display: none;
}

@media (max-width: 450px) {
  .slider-button-prev,
  .slider-button-next {
    width: 32px;
    height: 32px;
  }
}
