.policyHead {
   padding: 64px 64px 32px;

   @media (max-width: 1400px) {
      padding: 64px 32px 32px;
   }

   @media (max-width: 768px) {
      padding: 32px 16px 32px;
   }

   &__title {
      color: var(--Dark-Dark-6, #354052);
      font-size: 64px;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.64px;
      margin: 16px 0 0;

      @media (max-width: 768px) {
         font-size: 40px;
         letter-spacing: -1.6px;
      }

      @media (max-width: 425px) {
         font-size: 30px;
      }
   }
}

.policy {
   padding: 32px 64px 128px;

   @media (max-width: 1400px) {
      padding: 32px 32px 128px;
   }

   @media (max-width: 768px) {
      padding: 32px 16px 64px;
   }

   &__text {
      max-width: 1342px;

      & > * {
         &:first-child {
            margin-top: 0 !important;
         }

         &:last-child {
            margin-bottom: 0 !important;
         }
      }

      & h2 {
         color: var(--Dark-Dark-6, #354052);
         font-size: 28px;
         font-weight: 600;
         line-height: 120%;
         letter-spacing: -0.28px;
         margin: 24px 0;

         @media (max-width: 768px) {
            font-size: 20px;
         }
      }

      & p {
         color: var(--Dark-Dark-6, #354052);
         font-size: 16px;
         font-weight: 400;
         line-height: 135%;
         margin: 9px 0;
      }
   }
}
