@import '../assets/styles/base-imports';

.catalog-slider {
  .base-slider {
    padding: 3rem 0 6rem;
  }

  @include media-breakpoint-down('sm') {
    .base-slider {
      padding: 3rem 0 4rem;
    }
  }
}

.base-slider {
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 50px;

  &__arrows {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -2.125rem;
  }

  &__prev,
  &__next {
    width: 6px;
    height: 10px;
    margin-left: 1.5rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8.76117L2.38281 5L6 1.23883L4.80859 -5.2078e-08L-6.95394e-07 5L4.80859 10L6 8.76117Z' fill='%23808D9A'/%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8.76117L2.38281 5L6 1.23883L4.80859 -5.2078e-08L-5.24749e-07 5L4.80859 10L6 8.76117Z' fill='%23004989'/%3E%3C/svg%3E%0A");
    }
  }

  &__next {
    transform: rotate(180deg);
  }

  .swiper {
    &-container {
      overflow: visible;
    }

    &-wrapper {
      height: auto;
    }

    &-scrollbar {
      height: 0.125rem;
      border-radius: 0.125rem;
      bottom: -2.125rem;
      right: 13.75rem;
      left: 0;
      width: auto;

      &-drag {
        background-color: $primary;
      }
    }
  }

  @include media-breakpoint-down('lg') {
    .container {
      max-width: 100%;
      padding: 0 30px;
    }
  }
  @include media-breakpoint-down('md') {
    .swiper-scrollbar {
      width: 100%;
    }
    .container {
      padding: 0 15px;
    }
    &__arrows {
      display: none;
    }
  }
}