@import '../assets/styles/base-imports';

.stars {
    display: inline-flex;
    align-items: center;
    color: $secondary;
    margin-bottom: 1rem;

    &__count,
    &__reviews {
        display: inline-flex;
        align-items: center;
        margin-bottom: -0.125rem;
        margin-left: 0.3125rem;
    }

    &__count {
        font-size: 0.75rem;
        color: $gray-800;
        margin-right: 0.6875rem;
    }

    &__reviews {
        color: $primary;

        a {
            text-decoration: underline;
            cursor: pointer;
            font-size: 0.75rem;
        }
    }
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2px;

    &--small {
        margin-right: -1px;

        svg {
            transform: scale(0.75);
        }
    }

    &--large {
        margin-right: 3px;

        svg {
            transform: scale(1.25);
        }
    }
}