.tooltip {
    display: none;
    background: #fff;
    box-shadow: 0 4px 33px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    z-index: 1070;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;

    &[data-show] {
        display: flex;
    }
}