@import '../assets/styles/base-imports';

.info {
    position: relative;

    svg {
        cursor: help;
    }

    .icon {
        margin: 0 0.3125rem;
    }
}

.tooltip {
    display: none;
    background: #ffffff;
    box-shadow: 0 4px 33px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    z-index: $zindex-popover;
    inline-size: max-content;

    &[data-show] {
        display: flex;
    }
}