.product-card-horizontal__wrapper .product-card {
  display: flex;
  height: 100%;
  gap: 30px;
  background-color: #fff;
  border: 1px solid #ececec;
  padding: 22px 30px 32px !important;
  position: relative;
  flex-direction: row;
}

.product-card-horizontal__wrapper .product-card:not(:first-child) {
  border-top: 0;
}

.product-card-horizontal__wrapper .product-card__image {
  position: relative;
  padding: 20% 0 0;
  background: #fff;
  border-radius: 0.875rem;
  width: 100%;
  height: 100%;
  max-width: 200px;
}

.product-card-horizontal__wrapper .product-card__additional {
  display: flex;
  gap: 22px;
  align-items: center;
  width: 100%;
}

.product-card-horizontal__wrapper .product-card__content-part-btns {
  width: fit-content;
}

.product-card-horizontal__wrapper .product-card__price-part {
  flex-basis: 240px;
}

.product-card-horizontal__wrapper .product-card__content-part {
  flex-basis: calc(100% - (200px + 240px));
  display: flex;
}

.product-card-horizontal__wrapper .product-card__content-part::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(30px + 240px + 15px);
  height: 100%;
  width: 1px;
  background-color: #ececec;
}

.product-card-horizontal__wrapper .product-card__image figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}

.product-card-horizontal__wrapper .product-card__image figure::before {
  position: absolute;
  top: 0;
  left: -50%;
  z-index: 2;
  display: block;
  content: "";
  width: 25%;
  height: 100%;
  opacity: 0;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  visibility: hidden;
}

.product-card-horizontal__wrapper .product-card__image figure:hover::before {
  animation: shine 1s;
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.product-card-horizontal__wrapper .product-card__image img {
  max-width: 100%;
}

.product-card-horizontal__wrapper .product-card__fav:hover {
  color: #eb5806;
}

.product-card-horizontal__wrapper .product-card__image-actions {
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 1;
  color: #808d9a;
  width: fit-content;
}

.product-card-horizontal__wrapper .product-card__content-part-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex-basis: 90%;
  height: fit-content;
}

.product-card-horizontal__wrapper .product-card__image-actions .placeholder {
  width: 18px;
  height: 18px;
  border-radius: 6px;
}

.product-card-horizontal__wrapper .product-card__image-actions img,
.product-card-horizontal__wrapper .product-card__image-actions svg {
  cursor: pointer;
  transition: color 0.3s;
}

.product-card-horizontal__wrapper .product-card__image-actions svg:hover {
  color: #004989;
}

.product-card-horizontal__wrapper .product-card__article {
  color: #808d9a;
  margin: 0;
}

.product-card-horizontal__wrapper .product-card__preview-text-content {
  display: none;
  padding-bottom: 14px;
}

.product-card-horizontal__wrapper .product-card__preview-text-btn {
  font-size: 13px;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-card-horizontal__wrapper .product-card__preview-text-svg {
  transform: rotate(0);
}

.product-card-horizontal__wrapper .product-card__preview-text-svg.active {
  transform: rotate(180deg);
}

.product-card-horizontal__wrapper .product-card__title {
  font-weight: 400;
  display: block;
  font-size: 1rem;
  line-height: 130%;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  max-width: 90%;
}

.product-card-horizontal__wrapper .product-card a {
  text-decoration: none;
  height: 100%;
}

.product-card-horizontal__wrapper .product-card__add {
  display: flex;
  justify-content: stretch;
  justify-self: flex-end;
}

.product-card-horizontal__wrapper .product-card__add .btn {
  width: 100%;
  font-weight: 500;
  padding: 0.8125rem 1.5rem;
  z-index: 1;
}

.product-card-horizontal__wrapper .product-card__add .input-group,
.product-card-horizontal__wrapper .product-card__add .input-group input {
  background-color: #eeeff3;
}

.product-card-horizontal__wrapper .product-card__add .input-group input {
  text-align: center;
  color: #333333;
  font-size: 1rem;
}

.product-card-horizontal__wrapper .product-card__add .input-group .btn {
  width: auto;
  border-radius: 0.25rem !important;
}

.product-card-horizontal__wrapper .product-card__add.placeholder-glow .placeholder {
  width: 100%;
  height: 48px;
  border-radius: 0.3125rem;
}

.product-card-horizontal__wrapper .product-card .stars.placeholder-glow {
  display: flex;
  gap: 2px;
}

.product-card-horizontal__wrapper .product-card .stars {
  margin: 0;
}

.product-card-horizontal__wrapper .product-card .stars.placeholder-glow .placeholder {
  width: 12px;
  height: 12px;
  border-radius: 0.3125em;
}

.product-card-horizontal__wrapper .product-card__tags {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.product-card-horizontal__wrapper .product-card__tag {
  display: inline-block;
  color: #fff;
  padding: 0.125rem 0.375rem;
  background: #eb5806;
  border-radius: 0.3125rem;
  margin-right: 0.125rem;
  margin-bottom: 0.375rem;
}

.product-card-horizontal__wrapper .product-card__remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem !important;
  color: #808d9a;
  padding: 0 !important;
}

.product-card-horizontal__wrapper .product-card__availability {
  font-size: 0.75rem !important;
}

.product-card-horizontal__wrapper .product-card .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.133em;
  justify-self: flex-end;
  font-weight: 500;
  line-height: 20px;
}

.product-card-horizontal__wrapper .product-card .price__current {
  font-size: 1.625rem;
  color: #333333;
}

.product-card-horizontal__wrapper .product-card .price--small .price__current {
  font-size: 1.133rem;
}

.product-card-horizontal__wrapper .product-card .price__old {
  margin-left: 0.5rem;
  text-decoration-line: line-through;
}

.product-card-horizontal__wrapper .product-card .price__discount {
  display: inline-block;
  padding: 0 0.3125rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  background-color: #eb5806;
  color: #fff;
  border-radius: 0.25rem;
}

.product-card-horizontal__wrapper .show-btn-list-labels:not(.show-all-tags)>*:not(:first-child):not(.product-btn-list-labels) {
  display: none;
}

.product-card-horizontal__wrapper .product-btn-list-labels {
  display: none;
}

.product-card-horizontal__wrapper .show-btn-list-labels .product-btn-list-labels {
  display: inline-block;
  padding: 4px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  height: 20px;
  cursor: pointer;
  align-content: center;
  background-color: white;
}

.product-card-horizontal__wrapper .show-btn-list-labels.show-all-tags .product-btn-list-labels {
  display: flex;
  align-items: center;
  width: fit-content;
}

.product-card-horizontal__wrapper .show-btn-list-labels.show-all-tags .product-btn-list-labels>svg {
  transform: rotate(-180deg);
}

.product-card-horizontal__wrapper .show-btn-list-labels .product-btn-list-labels>svg {
  max-width: 10px;
  height: fit-content;
}

.product-card-horizontal__wrapper .product-card-blur-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.5;
}

@media (max-width: 767.98px) {
  .product-card-horizontal__wrapper .product-card__title {
    height: 2.4rem;
  }

  .product-card-horizontal__wrapper .product-card__add .btn {
    padding: 0.563rem 1.875rem;
    font-size: 0.875rem;
  }

  .product-card-horizontal__wrapper .product-card__add .btn-primary {
    padding: 0.563rem 1rem;
    white-space: nowrap;
  }

  .product-card-horizontal__wrapper .product-card__article {
    font-size: 0.75rem;
  }

  .product-card-horizontal__wrapper .product-card__title {
    font-size: 0.875rem;
  }
}

@media (max-width: 1399px) {
  .product-card-horizontal__wrapper .product-card .product-card__availability {
    font-size: 14px !important;
    line-height: 18px;
    text-align: left;
    border: none;
    background-color: #EEEFF3;
    min-height: 36px;
    padding: 6px 15px;
  }

  .product-card-horizontal__wrapper .product-card__content-part::after {
    right: calc(30px + 220px + 15px)
  }

  .product-card-horizontal__wrapper .product-card .product-card__button {
    min-height: 48px;
  }

  .product-card-horizontal__wrapper .product-card .product-card__article {
    height: 15px;
  }

}

@media (max-width: 1200px) {
  .product-card-horizontal__wrapper .product-card__content-part::after {
    right: calc(30px + 190px + 15px);
  }
}

@media (max-width: 991px) {
  .product-card-horizontal__wrapper .product-card .product-card__image {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .product-card-horizontal__wrapper .product-card .product-card__title {
    font-size: 14px;
    line-height: 18px;
    height: 36px;
  }

  .product-card-horizontal__wrapper .product-card .product-card__button {
    min-height: 35px;
    font-size: 14px;
    padding: 9px 1.5rem;
  }

  .product-card-horizontal__wrapper .product-card__add {
    height: 48px;
  }

  .product-card-horizontal__wrapper .product-card__add span {
    font-size: 14px;
    height: 38px;
  }

  .product-card-horizontal__wrapper .product-card__add input {
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 38px;
  }

  .product-card-horizontal__wrapper .product-card__availability {
    padding: 0 15px;
  }
}