.footer {
  margin-top: 67px;
  background-color: #1E1E1E;
  color: #f0f0f0;
  border-top: 1px solid #F9F9F9;

  &-head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F9F9F9;
  }

  &-logo {
    padding: 28px 22px;
    width: 26.2%;
    border-right: 1px solid #F9F9F9;

    @include r(1024px) {
      border-right: none;
      width: initial;
    }
  }

  &__nav {
    display: flex;
    width: 66.2%;

    @include r(1024px) {
      display: none;
    }

    &-item {
      width: calc(100% / 3);
      height: 100%;
      padding: 30px 0 30px 7%;

      @include lg-screen {
        padding: 30px 0 30px 7%;
      }

      &:not(:last-child) {
        border-right: 1px solid #F9F9F9;
      }
    }

    &-link {
      display: initial;
      color: #f0f0f0;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:hover{
        text-decoration: none;
        color: #B20E04;
      }

      @include lg-screen {
        font-size: 16px;
      }
    }
  }

  &-content {
    display: flex;
    padding: 52px 0;

    @include lg-screen {
      padding: 36px 0;
    }

    @include r(1024px) {
      flex-flow: column;
    }
  }

  &__social {
    width: 26.2%;

    &-title {
      font-family: $play;
      font-size: 18px;
      line-height: 1.25;
      letter-spacing: -.05em;
      margin-bottom: 9px;
      color: #f0f0f0;
      text-align: center;
    }

    .social {
      &__link {
        border-color: #f0f0f0;

        .icon {
          color: #f0f0f0;
        }
      }
    }
    .soc{
      display: flex;
      justify-content: center;

      .item{
        padding: 16px;

        .icon{
          color: #fff;

          &:hover{
            color: #B20E04;
          }

        }

      }
    }


  }

  &__links {
    display: flex;
    width: 100%;

    @include r(1024px) {
      margin-top: 25px;
    }

    &-column {
      display: flex;
      flex-flow: column;
      width: calc(100% / 3);
      padding-left: 5%;

      @include r(1024px) {
        padding-left: 0;
      }

      &_address {
        width: 45%;
      }
    }

    .ui-link {
      max-width: max-content;
      font-family: $play;
      font-size: 16px;
      //line-height: 1.25;
      margin-bottom: 12px;
      color: #f0f0f0;

      &:hover{
        text-decoration: none;
        color: #B20E04;
      }

      @include lg-screen {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
  }



  &__address {
    margin-top: 0;

    &-item {
      font-family: $play;
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 12px;

      @include lg-screen {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    padding: 22px 0;
    font-family: $play;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    border-top: 1px solid #F9F9F9;

    @include sm-screen {
      flex-flow: column;
      align-items: flex-start;
      margin-bottom: 100px;
    }

    &-copy {
      display: flex;
      width: 100%;
      font-size: 12px;
      color: white;
      font-family: $play;


      @include r(1024px) {
        margin-top: 25px;
      }

      &-column {
        display: flex;
        flex-flow: column;
        width: calc(100% / 4);
        //padding-left: 7%;

        @include r(1024px) {
          padding-left: 0;
        }


      }

      .ui-link {
        max-width: max-content;
        //line-height: 1.25;
        //margin-bottom: 20px;
        color: #f0f0f0;

        &:hover{
          text-decoration: none;
          color: #B20E04;
        }

        @include lg-screen {
        }
      }
    }
  }

  &__copyright {
    width: 18%;

    @include sm-screen {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__info {
    @include sm-screen {
      margin-bottom: 25px;
    }
  }

  .privacy {
    margin-left: auto;
    height: 100%;
    color: #f0f0f0;

    @include sm-screen {
      margin-left: 0;
    }
  }
}

