.holosun {
	background-color: var(--bs-gray-100);
}
.holosun small {
	font-size: 0.75rem;
}
.holosun p {
	font-size: 1rem;
	max-width: 500px;
}
.holosun h2, .holosun h3 {
	max-width: 500px;
	min-width: 80%;
}
.holosun .checklist >>> ul {
	padding-left: 0;
	margin-top: 3.125rem;
	font-size: 1rem;
	max-width: 500px;
	color: var(--bs-gray-dark);
}
.holosun .checklist >>> ul li {
	padding-left: calc(15px + 1.5ch);
	position: relative;
	display: block;
}
.holosun .checklist >>> ul li::before {
	content: '';
	width: 15px;
	height: 12px;
	position: absolute;
	top: 0.25em;
	left: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.65736 11.4989C4.76606 11.6539 4.90936 11.7802 5.07538 11.8674C5.2414 11.9545 5.42536 12 5.612 12C5.79865 12 5.9826 11.9545 6.14862 11.8674C6.31464 11.7802 6.45794 11.6539 6.56665 11.4989L14.3441 0.479277C14.4845 0.279264 14.3441 0 14.1041 0H12.3721C11.9954 0 11.6372 0.184917 11.4156 0.501919L5.61385 8.72887L2.98442 5.00033C2.76284 4.6871 2.40831 4.49841 2.02793 4.49841H0.295909C0.055863 4.49841 -0.0844716 4.77767 0.055863 4.97768L4.65736 11.4989Z' fill='%23EB5806'/%3E%3C/svg%3E%0A");
}
.holosun .main-slider {
	margin-bottom: 8.5rem;
}
.holosun .container {
	padding: 0 0 8.5rem;
}
.holosun .series {
	position: relative;
}
.holosun .series h2, .holosun .series h3 {
	max-width: none;
}
.holosun .series hr {
	opacity: 1;
	border: none;
	padding-top: 0.25rem;
	background: var(--bs-gray-100);
}
.holosun .series figure {
	padding: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.holosun .series figure img {
	max-width: 100%;
}
.holosun .series::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	background-image: linear-gradient(180deg, var(--bs-gray-200) 0%, rgba(238, 239, 243, 0) 100%);
}
.holosun .series .container {
	position: relative;
	z-index: 2;
}
.holosun >>> .q-small {
	background-image: url('/holosun/q-small.png');
	background-size: cover;
}
.holosun >>> .q-end {
	background-image: url('/holosun/q-end.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.holosun >>> .swiper-slide {
	height: auto;
	overflow: hidden;
}
.holosun >>> .slider-card {
	position: relative;
	background-color: var(--bs-gray-200);
	height: 100%;
}
.holosun >>> .slider-card::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url('/holosun/q-blue.svg');
	background-size: contain;
	background-position: 0 0;
	background-repeat: no-repeat;
	transition: transform 250ms;
}
.holosun >>> .slider-card:hover::before {
	transform: scale(1.15) translateX(4rem);
}
.holosun >>> .slider-card figure {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.holosun >>> .slider-card figure img {
	max-width: 90%;
}
.holosun >>> .slider-card [class*='col-'] {
	position: relative;
	padding: 5.625rem 5.625rem 5.625rem 0;
	z-index: 2;
}
.holosun >>> .wide-promotion {
	height: 38rem;
}
.holosun >>> .cabinet-section {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 100%;
}
.holosun >>> .cabinet-section .cabinet-section__header a {
	text-decoration: none;
}
.holosun >>> .cabinet-section .cabinet-section__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
}
.holosun >>> .cabinet-section .btn {
	margin-top: auto !important;
	justify-self: flex-end;
}
.holosun__contain-img {
	object-fit: contain;
	object-position: top;
	max-width: 100%;
	width: 100%;
}
.holosun__rulers >>> .swiper-slide {
	border-radius: 14px;
}
@media (max-width: 960px) {
	.holosun .container {
		max-width: 100%;
		padding: 0 30px 3.25rem;
	}
	.holosun .main-slider {
		margin-bottom: 4.875rem;
	}
	.holosun .series figure {
		padding: 1.25rem;
		margin-bottom: 0;
	}
}
@media (max-width: 720px) {
	.holosun >>> .wide-promotion {
		height: auto;
	}
	.holosun >>> .promo-wide-slider .base-slider {
		max-width: unset;
		padding-bottom: 0;
	}
	.holosun >>> .slider-card::before {
		background-image: url('/holosun/q-blue-mobile.svg');
		background-size: cover;
	}
}
.holosun__series-tabs-wr {
	display: flex;
}
.holosun__series-tabs-wr h2 {
	font-size: 1.125rem;
	max-width: unset;
	min-width: unset;
	padding: 1.25rem 0.938rem 0.688rem;
	margin-bottom: 0;
	transition: 0.2s ease;
}
.holosun__series-tabs-wr h2.active {
	background: #eff0f4;
}
.holosun__series-tabs-wr h2:first-of-type {
	border-radius: 0 20px 0 0;
}
.holosun__series-tabs-wr h2:last-of-type {
	border-radius: 20px 0 0 0;
}
.holosun__series-tabs-wr img {
	margin-right: 0.438rem;
}
@media (max-width: 540px) {
	.holosun .container {
		padding: 0 15px 1.875rem;
	}
	.holosun .main-slider {
		margin-bottom: 2.688rem;
	}
	.holosun .series figure {
		margin-bottom: 0.875rem;
	}
}
@media (max-width: 1199px) {
	.holosun__video >>> .video-10-dimensions {
		height: 200px;
	}
	.holosun__video >>> .video-player .vjs-poster {
		background-size: contain;
	}
}
@media (max-width: 991px) {
	.holosun .holosun__row {
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	.holosun .holosun__row .container {
		padding-top: 0 !important;
		padding-bottom: 4rem;
	}
	.holosun .holosun__contain-img {
		background-size: cover;
		object-fit: cover;
		border-radius: 14px;
	}
	.holosun .holosun__products {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.holosun .holosun__products .container {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.holosun .holosun__price-descr {
		flex-direction: column-reverse;
	}
	.holosun .holosun__price-img {
		margin-bottom: 80px;
		max-height: 310px;
	}
	.holosun .holosun__price-img img {
		max-height: 310px;
	}
	.holosun__slider >>> .row {
		flex-direction: column;
	}
	.holosun__slider >>> .row .col-12 {
		max-width: 570px;
		width: 100%;
	}
	.holosun__slider >>> .main-slider >>> .swiper-slide .container {
		margin-top: 250px;
	}
	.holosun__slider >>> .main-slider__arrows .container {
		margin-top: 0;
	}
	.holosun__slider >>> .main-slider__q svg {
		transform: translateY(-20%) scale(1.5);
	}
	.holosun__video >>> .video-player .vjs-poster {
		background-size: cover;
	}
	.holosun__wide-slider >>> h2 {
		font-size: 20px;
		line-height: 24px;
	}
	.holosun__wide-slider >>> p {
		margin-bottom: 0;
	}
	.holosun__wide-slider >>> .base-slider__arrows {
		display: none;
	}
	.holosun__wide-slider >>> .swiper-scrollbar {
		bottom: -1.125rem;
	}
	.holosun__wide-slider >>> .base-slider {
		padding-left: 20px;
	}
}
@media (max-width: 767px) {
	.holosun >>> .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.holosun >>> .promo-card--large figure {
		position: absolute;
		transform: none;
	}
	.holosun >>> .holosun__product {
		width: 50%;
	}
	.holosun >>> .holosun__products-row {
		flex-direction: column;
	}
	.holosun >>> .holosun__advant {
		flex-direction: column;
	}
	.holosun >>> .holosun__advant .col-6 {
		width: 100%;
	}
	.holosun >>> .holosun__advant img {
		margin-bottom: 1.25rem;
	}
	.holosun >>> .holosun__assort {
		width: 100%;
	}
	.holosun >>> .holosun__series {
		flex-direction: column;
	}
	.holosun >>> .holosun__series > .col-6 {
		display: none;
	}
	.holosun >>> .holosun__series > .col-6.open {
		display: block;
	}
	.holosun >>> .holosun__series .col-6 {
		width: 100%;
	}
	.holosun >>> .holosun__series .holosun__product {
		width: 50%;
	}
	.holosun >>> .holosun__series .pe-0, .holosun >>> .holosun__series .ps-0 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.holosun >>> .series:before {
		right: 0;
	}
	.holosun >>> .holosun__ruler {
		flex-direction: column;
	}
	.holosun >>> .holosun__ruler .col-6 {
		width: 100%;
		padding: 0 15px;
		padding-top: 100px;
		padding-bottom: 25px;
	}
	.holosun >>> .holosun__ruler .col-6 figure {
		padding-top: 20px;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.holosun >>> .holosun__about {
		flex-direction: column;
	}
	.holosun >>> .holosun__about .col-6 {
		width: 100%;
	}
	.holosun >>> .holosun__for {
		flex-direction: column;
	}
	.holosun >>> .holosun__for .col-6 {
		width: 100%;
	}
}
 