.news-slider {
  background-color: #fff;
}
.news-slider__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27.75rem;
  background-color: #004989;
  border-radius: 0.875rem;
  padding: 2.75rem 1.5625rem;
  color: #fff !important;
}
.news-slider__more h2 {
  color: #fff;
}
@media (max-width: 991.98px) {
  .news-slider__more {
    height: 18.75rem;
  }
}
@media (max-width: 575.98px) {
  .news-slider__more {
    height: 20rem;
  }
}

.news-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 27.75rem;
  padding: 2.75rem 1.5625rem;
  border-radius: 0.875rem;
  text-decoration: none;
  overflow: hidden;
}
.news-slide__date, .news-slide__title {
  position: relative;
  z-index: 2;
}
.news-slide__date {
  color: #808d9a;
  margin-bottom: 1.375rem;
}
.news-slide__title {
  max-width: 40%;
  font-size: 1rem;
  color: #fff;
}
.news-slide__background {
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}
.news-slide__background--multiple {
  background-size: cover, 0;
}
.news-slide::before, .news-slide__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.news-slide::before {
  content: "";
  top: 50%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 1;
}
.news-slide:hover .news-slide__background {
  transform: scale(1.1);
}
@media (max-width: 991.98px) {
  .news-slide {
    height: 18.75rem;
  }
  .news-slide__title {
    max-width: 90%;
  }
}
@media (max-width: 767.98px) {
  .news-slide__title {
    max-width: unset;
  }
}
@media (max-width: 575.98px) {
  .news-slide {
    height: 20rem;
  }
  .news-slide__title {
    font-size: 0.875rem;
  }
  .news-slide__background--multiple {
    background-size: 0, cover;
  }
}