.hero__slide-title {
    color: rgba(243, 148, 34, 1);
    font-size: 54px !important;
    max-width: 100%;
    overflow: inherit !important;
}
.hero__slide-subtitle {
    font-size: 30px !important;
}
.ui-button--red {
    background: none !important;
    color: rgba(243, 148, 34, 1) !important;
    font-size: 28px !important;
    justify-content: flex-start !important;
}
.section__slide-title {
    color: rgba(243, 148, 34, 1) !important;
    font-size: 40px !important;
    font-weight: 600 !important;
    overflow: inherit !important;
}
.section__slide-title__name {
	font-size: 30px !important;
	color: black !important;
}
.section__slide-title {
	max-height: 100% !important;
}
.section__slide-link {
	margin-top: 0px !important;
	color: black !important;
}
.new_img_anons {
    width: 150px;
    margin: auto;
    display: flex;
}

.section__description {
	font-size: 18px !important;
	overflow: inherit;
	max-height: inherit;
	margin-bottom: 20px;
}
.section__title {
	font-size: 40px!important;
}
.section__slide-content {
    border: 1px solid rgba(0, 0, 0, 1);
}
svg.icon.icon-arrow-prev {
    fill: rgba(243, 148, 34, 1);
    font-size: 16px;
}
svg.icon.icon-arrow-next {
    fill: rgba(243, 148, 34, 1);
    font-size: 16px;
}
.ui-swiper-button {
	border: none !important;
}
.section-plus__item {
    border: none !important;
}
.plus.plus--top-left, .plus.plus--top-right, .plus.plus--bottom-left, .plus.plus--bottom-right {
    display: none;
}
.section-plus__item-text {
    text-align: left!important;
}
.section-plus__item-title {
    text-align: left !important;
    padding: 0px 24px;
}
section.section.section-plus {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.header__logo .logo img {
    position: inherit !important;
}
.section-about .section__title::before {
    display: none;
}
.section-about .section__title {
    color: rgba(243, 148, 34, 1);
    padding: 0px;
    font-size: 36px !important;
}
.section-about .section__text {
    font-size: 18px;
    line-height: 25px;
    padding: 0px;
}
.hero__slide-subtitle {
	max-height: 80px !important;
}
.section-about__list-item {
    font-size: 24px;
    text-transform: uppercase;
}
.section-about__list-link .icon {
    color: transparent;
    stroke: rgba(243, 148, 34, 1);
    font-size: 16px;
}
.footer {
    margin-top: 67px;
    background-color: rgba(0, 0, 0, 1);
    color: #f0f0f0;
    border-top: 1px solid #F9F9F9;
}
.footer {
    background-color: rgba(0, 0, 0, 1) !important;
    border-top: 1px solid rgba(0, 0, 0, 1) !important;
}
.footer-logo {
    border: none !important;
}
.footer__nav-item {
    border: none !important;
}
.footer-head {
    border: none !important;
}
.footer__nav-link {
    color: rgba(243, 148, 34, 1) !important;
    font-size: 16px !important;
}
.footer-content {
    justify-content: space-between;
}
.footer__social {
    width: 100%;
}
.footer__social-title {
    display: none;
}
.soc {
    display: none !important;
}
.footer-bottom {
    display: none !important;
}
.header__catalog {
    background-color: rgba(0, 0, 0, 1) !important;
}
.header__item {
    height: 70% !important;
}
.header__navigation a {
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
}
.icon.lupa svg path, svg.icon.icon-profile {
    fill: rgba(243, 148, 34, 1);
    stroke: rgba(243, 148, 34, 1);
}
.header__right {
    border-left: 1px solid rgba(0, 0, 0, 1) !important;
    height: 70% !important;
}
.header__logo .logo img {
    width: 102px !important;
    height: 53px !important;
}
.header__logo .logo:before {
    display: none !important;
}
.header__cart {
    padding: 10px 28px !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 600 !important;
}
.header__compare {
    display: none;
}
.filter__li .nav-link {
    color: rgba(0, 0, 0, 1) !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}
.catalog__item-buttons .ui-button--dark {
    background-color: rgba(243, 148, 34, 1) !important;
    border: none !important;
}
.catalog__item-name {
    font-size: 20px !important;
    color: rgba(0, 0, 0, 1) !important;
    text-transform: uppercase;
    line-height: 25.64px !important;
}
.catalog__item-code {
    line-height: 17.95px !important;
    color: rgba(243, 148, 34, 1) !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
}
.catalog__item {
    background: rgba(255, 255, 255, 1) !important;
    border-radius: 19px !important;
    border-color: rgba(255, 255, 255, 1) !important;
}
.catalog__item:not(:last-child) {
    margin-bottom: 30px !important;
}
.catalog__item .dot {
    display: none !important;
}
.catalog__item-buttons .ui-button--light {
    background-color: #ffffff !important;
    border-color: rgba(0, 0, 0, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
    border: 1px solid !important;
    font-weight: 600 !important;
}
.characteristic__value {
    font-weight: 600;
}
.smart-filter-slider-track-container {
    opacity: 0;
}
bx-active .smart-filter-parameters-box-title-text {
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 12px !important;
}
.card__code {
    color: rgba(243, 148, 34, 1) !important;
    font-weight: 600;
}
.card-info__characteristic ul li .value {
    color: rgba(0, 0, 0, 1);
    margin-left: 10px;
    font-weight: 600;
}
.card__characteristic-title {
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 600 !important;
    line-height: 20.64px !important;
}
.card .dot {
    display: none;
}
.ui-button {
    background-color: rgba(243, 148, 34, 1) !important;
    color: white !important;
    font-size: 18px !important;
    text-transform: math-auto;
    text-align: center !important;
    align-items: center;
    justify-content: center !important;
}
.contacts-info__title {
    text-transform: uppercase;
}
a {
    color: #f39422 !important;
}
.card-info__description, .accordion__item-content {
    font-family: inherit !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}
.accordion__item-content_li {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #383838;
}
@media screen and (max-width: 743px) {
    .catalog-link {
        width: 92% !important;
        height: 42px !important;
    }
    .header__catalog {
        height: 62px !important;

    }
    .hero__slide-title {
        font-size: 18px !important;
    }
    .hero__slide-subtitle {
        font-size: 14px !important;
    }
	.section__title {
        font-size: 22px !important;
    }
    .section__description {
        font-size: 18px !important;
    }
    .section__slide-title {
        font-size: 12px !important;
    }
    .section__slide-title__name {
        font-size: 20px !important;
    }
    .section-about .section__title {
        display: flex !important;
        color: black;
        padding: 0px !important;
    }
    .section-about__background {
        display: none;
    }
	.section-plus__item {
        border-bottom: 1px solid #383838 !important;
    }
    .section-plus__item:last-child {
        border-bottom: none !important;
    }
	.section-about .section__title {
        font-size: 26px !important;
    }
    .section-about__list-link {
        font-size: 18px !important;
    }
    .catalog__item-img img {
        max-width: 100% !important;
        left: 0% !important;
    }
}
@media screen and (max-width: 575px) {
    .section-plus__item-title {
        padding: 0 6vw !important;
    }
}
@media screen and (max-width: 350px) {

}