.masterskaya-form .invalid-feedback {
  font-size: 0.75rem;
}

.masterskaya-form .input--required label::after {
  content: "*";
  color: #eb5806;
  font-size: 1.2em;
}

.masterskaya-form .textarea label {
  font-size: 1rem;
}

.masterskaya-form button.btn {
  color: white;
}

.masterskaya-form .form-control {
  border-color: #004988;
}

