@import '../assets/styles/base-imports';

.modal-location {
    &__item {
        margin: 1rem 0;
        font-size: 1rem;
        color: $gray-800;
        transition: color 0.3s;
        cursor: pointer;

        &:first-of-type {
            margin: 1.25rem 0 1rem;
        }

        &:hover,
        &--current {
            color: $secondary;
        }

        &--current {
            font-weight: 500;
        }
    }

    label {
        font-size: 1rem;
    }
}