.bx-authform-wrap {
  background-color: #f9f9fa;
  padding: 40px 0;
}
.bx-authform-wrap .container {
  max-width: 885px;
}
.bx-authform-container {
  font-size: 1rem;
  margin: 0 -4rem;
  padding: 4rem;
  background-color: #fff;
  border-radius: 0.875rem;
  display: flex;
  justify-content: center;
}
.bx-authform {
  width: 100%;
  max-width: 400px;
}
.error_message {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #eb5806;
}

.quick-register-accounts-parts,
.quick-register-accounts-parts-right {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.quick-register-accounts-parts-right {
  align-items: flex-end;
}

.quick-register-accounts-parts-right > div {
  margin: 0;
}

.quick-register-accounts-parts-right > div:nth-child(1) {
  width: 40%;
}

.quick-register-accounts-parts-right > div:nth-child(2) {
  width: 60%;
}

.quick-register-accounts-parts > div {
  width: 100%;
}

#quick-register-window {
  margin: auto;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  max-width: 450px;
}

#quick-register-window .modal-body {
  padding: 2rem;
}

.form-control.error {
  border: 1px solid red;
}

.quick-register-warning {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #eb5806;
}

.input-wrapper-form input {
  min-height: 56px;
}

.btn-primary.btn-color-inverse {
  background-color: white;
  text-decoration: none;
  color: #004989 !important;
}

.btn-primary.btn-color-inverse:hover {
  background-color: #f9f9f9;
}
@media screen and (max-width:1023px){
  .bx-authform-container{
    margin: 0 0rem;
    padding: 1rem;
  }
}