.personal-wrap{
	padding: 5.625rem 0;
    background-color: #f9f9fa;
}
.personal-wrap h2,
.personal-wrap h1{
    margin-bottom: 1.625rem;
}
.cabinet-section{
    background-color: #fff;
    border-radius: 0.875rem;
    margin-bottom: 1.875rem;
}
.cabinet-section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem 1.625rem;
    border-bottom: 1px solid #eeeff3;
}
.cabinet-section__header span{
    display: flex;
    align-items: center;
}
.cabinet-section__header span svg{
    margin-right: 1rem;
}
.cabinet-section__header h6{
    margin-bottom: 0;
}
.cabinet-section__content{
    padding: 1.625rem;
}
.cabinet-section__content p{
    font-size: 1rem;
}
.cabinet-section__content p:last-child {
    margin-bottom: initial;
}
.cabinet__history-item{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.cabinet__history-item figure{
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: 50%;
    border-radius: 0.25rem;
    border: 1px solid #eee;
    margin: 0 1.375rem 1rem 0;
}
.cabinet__history-texts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabinet__history-price, 
.cabinet__history-title{
    font-size: 1rem;
    color: #333;
}
.cabinet-section__content .main-profile__hint{
    font-size: 1rem;
    color: #eb5806;
}
.sale-personal-section-index{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.sale-personal-section-half{
    flex: 1 0 40%;
}
.cabinet__button .cabinet-mobile-button {
    display: none;
}
.btn.cabinet__button .cabinet-mobile-button svg {
    margin: 0 auto;
}
.cabinet-btn-exit {
    font-size: 0.75rem;
    transition: all 0.3s ease-in-out;
    color: #808d9a;
    background: #eeeff3;
    display: none;
    padding: 6px 12px;
    border-radius: 0.25rem;
    text-decoration: none;
}

.bonuses-cabinet-text-ico {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bonuses-cabinet-text,
.bonuses-cabinet-count {
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.blue-back {
    background-color: #004989;
    border-radius: 4px;
}

.bonuses-cabinet-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1240px) {
    .bonuses-cabinet-text, .bonuses-cabinet-count {
        font-size: 20px;
    }
}
@media (max-width: 1200px) {
    .cabinet-btn-exit {
        display: inline-block;
    }
}
@media (max-width: 991px) {
    .bonuses-cabinet-text, .bonuses-cabinet-count {
        font-size: 14px;
    }
    .blue-back {
        padding: 17px 15px;
    }
    .bonus-main-wrapper {
        margin: 0 0 10px 0;
    }
    .btn.cabinet__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        padding: 0;
    }
    .cabinet__history-texts {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
    .cabinet__history-item {
        gap: 1.375rem;
    }
    .cabinet__history-item:not(:last-child) {
        margin-bottom: 1.5625rem;
    }
    .cabinet__history-item figure {
        margin: 0;
    }
    .cabinet__button .cabinet-mobile-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cabinet__button span:not(.cabinet-mobile-button) {
        display: none;
    }
    .cabinet-section__content .cabinet__submit {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .sale-personal-section-half {
        flex: 1 1 100%;
    }
}

@media (max-width: 576px) {
    .personal-wrap.cabinet-page h2,
    .personal-wrap.cabinet-page h1 {
        padding: 0 18px;
    }
    .personal-wrap.cabinet-page .container {
        padding-left: 0;
        padding-right: 0;
    }
}
