/* Стрелка наверх */
.arrow_to-up {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    max-width: 55px;
    max-height: 55px;
    bottom: 170px;
    right: 50px;
    width: 100%;
    height: 100%;
    background: #F4F4F8;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
}

.arrow_to-up,
.arrow_to-up svg path {
    transition: .2s all ease-in-out;
}

.arrow_to-up-background {
    background-color: #004989;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: inherit;
    transition: .2s all ease-out;
    width: 0;
    height: 0;
    scale: 0;
}

.arrow_to-up svg {
    position: relative;
    z-index: 5;
}
.arrow_to-up svg path {
    stroke-width: 2px;
    transition: .2s all ease-out;
}

@media (hover: hover) {
    .arrow_to-up:hover .arrow_to-up-background {
        width: inherit;
        height: inherit;
        scale: 1;
    }

    .arrow_to-up:hover svg path {
        stroke: white;
    }
}

@media (max-width: 747px) {
    .arrow_to-up {
        right: 10px;
    }
}