.registration-wrap .container {
    max-width: 885px;
}
.registration-wrap{
    background-color: #F9F9FA;
    padding: 40px 0;
}
.bx-auth-reg{
    position: relative;
    font-size: 1rem;
    margin: 0 -4rem;
    padding: 4rem;
    background-color: #fff;
    border-radius: 0.875rem;
}
.bx-auth-reg h2{
    margin-bottom: 3.125rem;
}
.client-type{
    margin-bottom: 2.5rem;
}
.client-type .btn{
    padding: 0.813rem 1.188rem;
    background-color: #f9f9fa;
    color: #333;
}
.client-type .btn.active{
    border-color: #004989;
    background-color: #eeeff3;
}
.starrequired{
    color: #eb5806;
    font-size: 1.2em;
}
