.compare {
  background-color: #f9f9fa;
  padding-bottom: 8.75rem;
}
.compare .stars {
  margin-bottom: 0;
}
.compare .stars.placeholder-glow {
  display: flex;
  gap: 2px;
}
.compare .stars .placeholder {
  width: 12px;
  height: 12px;
  border-radius: 0.3125em;
}
.compare .checkbox input {
  border-color: #808d9a;
  transform: translateY(-0.15rem);
}
.compare__divider {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 1.875rem 0;
  background-color: #808d9a;
  z-index: 5;
  opacity: 0.5;
}
.compare__table-wrapper {
  position: relative;
  overflow: hidden;
}
.compare__table-wrapper::after {
  content: "";
  position: absolute;
  width: 20px;
  top: -1rem;
  bottom: -1rem;
  left: 100%;
  box-shadow: -10px 0 10px #f9f9fa;
  background: #f9f9fa;
  z-index: 2;
}
.compare__table,
.compare__table--mini {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  cursor: grab;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.compare__table--active {
  cursor: grabbing;
  touch-action: "none";
}
.compare__table--active * {
  pointer-events: none;
}
.compare__table::-webkit-scrollbar,
.compare__table--mini::-webkit-scrollbar {
  display: none;
}
.compare__row {
  display: flex;
}
.compare__col {
  font-size: 1rem;
  color: #333333;
  margin: 0 0 1.25rem;
  padding: 0 2.5rem 0 2.5rem;
}
.compare__col--first {
  position: sticky;
  left: 0;
  z-index: 3;
  padding: 0 2.5rem 0 0;
}

.product-card__add-wrapper .product-card__add {
  max-width: 100%;
  width: 100%;
}
.product-card__add-wrapper {
  display: flex;
  align-items: center;
}
.product-card__remove-compare {
  max-width: 47px;
  height: 48px;
  width: 100%;
}

.product-card__remove-compare > button {
  max-width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
}

.product-card__add-wrapper .input-group .btn {
  z-index: 1;
}

.header--desktop {
  position: initial !important;
}

.compare__table--mini .price.price--small,
.compare__table--mini .interlabs-one-click-buy,
.compare__mini .product-card__image-actions {
  display: none;
}

.compare__table-wrapper.compare__mini {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  margin-left: calc(50% + 320px);
  transform: translate(-50%, -100%);
  background: #f9f9fa;
  transition: transform 0.4s ease-in-out;
}

.compare__table-wrapper.compare__mini.show {
  transform: translate(-50%);
}

.compare .compare__table--mini.container {
  padding: 0 0 0 20px;
}

.move-left,
.move-right {
  position: absolute;
  left: 24%;
  z-index: 5;
  top: 250px;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8.76117L2.38281 5L6 1.23883L4.80859 -5.2078e-08L-5.24749e-07 5L4.80859 10L6 8.76117Z' fill='%23004989'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 1px solid var(--bs-blue);
  border-radius: 50%;
  background-color: white;
}

.move-left {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

.compare__mini .move-left,
.compare__mini .move-right {
  top: calc(50% - 20px);
}

.compare__col.compare__item--mini {
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {
  .compare__col {
    padding: 0 0.438rem;
  }
}
@media (max-width: 991.98px) {
  .compare .container {
    max-width: 100%;
    padding: 0 30px;
  }

  .compare .compare__table--mini.container {
    max-width: calc(100vw - 60px);
  }
}
@media (max-width: 575.98px) {
  .move-left,
  .move-right {
    display: none;
  }

  .compare__table-wrapper.compare__mini {
    top: 60px;
  }

  .compare .container {
    padding: 0 15px;
  }
  .compare__column-backdrop {
    display: none;
  }

  .compare .compare__table--mini.container {
    max-width: calc(100vw - 30px);
    padding: 0;
  }

  /*  */
  .compare__row:not(.compare__prop) .compare__col--first {
    display: block !important;
    width: 100% !important;
  }

  .compare__row {
    flex-wrap: wrap;
  }
  .compare__row.compare__prop > .compare__col--first {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(---, #808d9a);
    margin: 0 0 15px 0;
  }
  .compare__row.compare__prop > .compare__col.compare__col--main {
    margin: 0 0 15px 0;
  }

  .compare__row.compare__prop,
  .compare__row.compare__prop-rating {
    display: grid;
    grid-auto-flow: column;
    width: max-content !important;
  }

  .compare__prop .compare__col--first,
  .compare__row.compare__prop-rating .compare__col--first {
    grid-row: 1;
  }

  .compare__prop .compare__col:not(.compare__col--first),
  .compare__row.compare__prop-rating .compare__col:not(.compare__col--first) {
    grid-row: 2;
  }

  .compare__row.compare__prop-title {
    width: max-content !important;
    position: sticky;
    left: 0;
  }
  /*  */
}
@media (max-width: 360px) {
  .product-card__remove-compare,
  .product-card__remove-compare > button {
    max-width: 24px;
  }
}

.compare__table--mini .compare__col--first {
  display: none;
}

.compare__mini .move-left {
  right: 330px;
}

.compare__mini .move-right {
  left: 0;
}

.compare__table-wrapper.compare__mini::after {
  content: "";
  position: absolute;
  width: 400px;
  top: -1rem;
  bottom: -1rem;
  left: auto;
  right: -70px;
  box-shadow: -10px 0 10px #f9f9fa;
  background: #f9f9fa;
  z-index: 2;
}

@media (max-width: 1400px) {
  .compare__table-wrapper.compare__mini {
    margin-left: calc(50% + 275px);
  }

  .compare__table-wrapper.compare__mini::after {
    right: -115px;
  }

  .compare__mini .move-left {
    right: 285px;
  }
}

@media (max-width: 1200px) {
  .compare__table-wrapper.compare__mini {
    margin-left: calc(50% + 230px);
  }

  .compare__table-wrapper.compare__mini::after {
    right: -160px;
  }

  .compare__mini .move-left {
    right: 245px;
  }
}

@media (max-width: 991.98px) {
  .compare__table-wrapper.compare__mini {
    margin-left: 73%;
  }

  .compare__table-wrapper.compare__mini::after {
    right: -21.5%;
    width: calc(50vw - 60px);
  }

  .compare__mini .move-left {
    right: 25%;
  }
}

@media (max-width: 575.98px) {
  .compare__table-wrapper.compare__mini {
    margin-left: 50%;
  }

  .compare__table-wrapper.compare__mini::after {
    right: auto;
    left: 100%;
    width: 20px;
  }
}
