.subcategory-selector {
  margin-bottom: 1.9375rem;
}
.subcategory-selector .btn.btn-white {
  background-color: #fff;
  color: #212529;
  margin: 0 0.6875rem 1.1875rem 0;
  border: 1px solid #004989;
  padding: 0.62em 1em;
}
.subcategory-selector .btn.btn-white:hover{
  background-color: #eeeff3;
  border-color: transparent;
}
.subcategory-selector .btn.btn-white.active {
  background-color: #004989;
  color: #fff;
}
.subcategory-selector .btn.btn-white.active {
  border-color: #004989;
}
.subcategory-selector .btn-outline-secondary:hover {
  color: #fff;
}
.subcategory-selector__container {
  padding-top: 1rem;
  margin-top: -1rem;
  /*max-height: 9.7rem;*/
  overflow: hidden;
}
/*.subcategory-selector__container--more {
  max-height: none;
}*/
.subcategory-selector__container--mobile {
  display: none;
}
@media (max-width: 991.98px) {
  .subcategory-selector {
    max-width: 100%;
    overflow-x: auto;
  }
  .subcategory-selector__container {
    width: max-content;
    padding: 0 calc((100vw - 720px) / 2);
  }
  .subcategory-selector__container--desktop {
    display: none;
  }
  .subcategory-selector__container--mobile {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .subcategory-selector__container {
    padding: 0 calc((100vw - 540px) / 2);
  }
}

@media (max-width: 991px) {
  .subcategory-selector {
    padding-top: 20px;
  }
}