.product .interlabs-one-click-buy {
  margin-bottom: 24px;
}

.interlabs-oneclick__container {
  font-size: 12px;
}
.interlabs-oneclick__container .hidden {
  display: none;
}
.interlabs-oneclick__container .errors,
.interlabs-oneclick__container .error {
  color: #eb5757;
}
.interlabs-oneclick__container
  .interlabs-oneclick__container__errors
  .interlabs-oneclick__container__errors__item {
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  font-size: 14px;
  color: #eb5757;
  margin-bottom: 18px;
}
.interlabs-oneclick__container .js-interlabs-oneclick__container-show-button,
.interlabs-oneclick__container .js-interlabs-oneclick__dialog__cancel-button,
.interlabs-oneclick__container .interlabs-oneclick__container-succsess__close {
  width: 144px;
  height: 36px;
  background: #70bb18;
  border-radius: 2px;
  border: none;
  color: #f2f2f2;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.interlabs-oneclick__container .js-interlabs-oneclick__dialog__cancel-button {
  padding: 5px 12px;
}
.interlabs-oneclick__container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.interlabs-oneclick__container .header label {
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  color: #000000;
  margin-right: 12px;
}
.interlabs-oneclick__container .header .js-interlabs-oneclick__dialog__close {
  cursor: pointer;
}
.interlabs-oneclick__container
  .header
  .js-interlabs-oneclick__dialog__close
  svg {
  width: 24px;
  height: 24px;
}
.interlabs-oneclick__container .body {
  margin-top: 17px;
  padding-left: 1px;
}
.interlabs-oneclick__container .body .scroll-area {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 28px;
}
.interlabs-oneclick__container .body .form-group {
  margin-bottom: 17px;
}
.interlabs-oneclick__container .body .form-group .field-required {
  color: #eb5757;
}
.interlabs-oneclick__container .body .form-group label:nth-child(1) {
  position: relative;
  margin-bottom: 0.625rem;
  color: var(--bs-gray);
  font-size: 1rem;
}
span.bx-authform-starrequired {
  color: var(--bs-orange);
  font-size: 1.2em;
  padding-left: 3px;
}
.interlabs-oneclick__container .body .form-group input[type="text"].date {
  width: 75px;
}
.interlabs-oneclick__container .body .form-group select {
  width: 30%;
  color: #828282;
  border: 1px solid #d5dadc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding-left: 13px;
  height: 36px;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("image/select-arrow.png") no-repeat 97% 55%;
  background-color: #f8fafc;
  text-align: left;
  text-align-last: left;
  padding-right: 18px;
}
.interlabs-oneclick__container .body .form-group .file {
  margin-top: 6px;
}
.interlabs-oneclick__container .body .form-group .file input[type="file"] {
  display: none;
}
.interlabs-oneclick__container .body .form-group .file a {
  padding: 10px 30px;
  border: 1px solid #159ebb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  color: #159ebb;
}
.interlabs-oneclick__container .body .form-group .file label {
  color: #828282;
  margin-left: 12px;
  font-weight: normal;
}
.interlabs-oneclick__container .body .form-group .file label.selected {
  color: #333333;
}
.interlabs-oneclick__container .body .form-group textarea {
  width: 100%;
  height: 180px;
  background: #f8fafc;
  border: 1px solid #d5dadc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}
.interlabs-oneclick__container .body .form-group .captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.interlabs-oneclick__container .body .form-group .captcha input[type="text"] {
  width: 50%;
}
.interlabs-oneclick__container .body .form-group .captcha img {
  width: 180px;
  height: 40px;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-checkbox
  input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 99;
  margin-top: 5px;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-checkbox
  input[type="checkbox"]
  + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: normal;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-checkbox
  input[type="checkbox"]
  + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  -webkit-box-shadow: 0 0 0 1px #d5dadc;
  box-shadow: 0 0 0 1px #d5dadc;
  border-radius: 2px;
  margin-top: -1px;
  background: #f8fafc;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-checkbox
  input[type="checkbox"]:focus
  + label:before {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-checkbox
  input[type="checkbox"]:disabled
  + label {
  color: #b8b8b8;
  cursor: auto;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-checkbox
  input[type="checkbox"]:disabled
  + label:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-checkbox
  input[type="checkbox"]:checked
  + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  background: #159ebb;
  border-radius: 1px;
  width: 8px;
  height: 8px;
  display: block;
  /* box-shadow: 2px 0 0 #159EBB,
             4px 0 0 #159EBB,
               4px -2px 0 #159EBB,
               4px -4px 0 #159EBB,
               4px -6px 0 #159EBB,
               4px -8px 0 #159EBB;
             transform: rotate(45deg);
             margin-top: 5px;*/
}
.interlabs-oneclick__container .body .form-group .c-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 99;
  margin-top: 5px;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-radio
  input[type="radio"]
  + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: normal;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-radio
  input[type="radio"]
  + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  -webkit-box-shadow: 0 0 0 1px #d5dadc;
  box-shadow: 0 0 0 1px #d5dadc;
  border-radius: 8px;
  margin-top: -1px;
  background: #f8fafc;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-radio
  input[type="radio"]:focus
  + label:before {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-radio
  input[type="radio"]:disabled
  + label {
  color: #b8b8b8;
  cursor: auto;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-radio
  input[type="radio"]:disabled
  + label:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}
.interlabs-oneclick__container
  .body
  .form-group
  .c-radio
  input[type="radio"]:checked
  + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  background: #70bb18;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  display: block;
  /* box-shadow: 2px 0 0 #159EBB,
             4px 0 0 #159EBB,
               4px -2px 0 #159EBB,
               4px -4px 0 #159EBB,
               4px -6px 0 #159EBB,
               4px -8px 0 #159EBB;
             transform: rotate(45deg);
             margin-top: 5px;*/
}
.interlabs-oneclick__container .body .form-group .c-radio,
.interlabs-oneclick__container .body .form-group .c-checkbox {
  padding-left: 1px;
}
.interlabs-oneclick__container .body .form-group.agree a {
  color: #159ebb;
}
.interlabs-oneclick__container .body .form-group.agree .c-checkbox {
  display: inline-block;
}
.interlabs-oneclick__container .body .form-group.control-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.interlabs-oneclick__container
  .body
  a.js-interlabs-oneclick__dialog__send-button {
  padding: 5px 5px;
}
.interlabs-oneclick__container .modal-mask {
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: table;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.interlabs-oneclick__container .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.interlabs-oneclick__container .modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 32px 24px;
  background-color: #fff;
  border-radius: 0.875rem;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.interlabs-oneclick__container .modal-enter {
  opacity: 0;
}
.interlabs-oneclick__container .modal-leave-active {
  opacity: 0;
}
.interlabs-oneclick__container .modal-enter .modal-container,
.interlabs-oneclick__container .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.interlabs-oneclick__container .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.interlabs-oneclick__container .modal-body {
  position: relative;
  padding: 15px;
  min-height: 400px;
  max-height: 600px;
  overflow: auto;
}
.interlabs-oneclick__container .modal-footer {
  margin-top: 12px;
}
.interlabs-oneclick__container .errors {
  color: #eb5757;
  font-size: 1rem;
}
.interlabs-oneclick__container .errors > div {
  margin-bottom: 18px;
}
.interlabs-oneclick__container .js-interlabs-oneclick__result {
  color: #eb5806;
  font-size: 1rem;
}
.interlabs-oneclick__container .interlabs__info-dialog {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  padding-left: 28px;
  padding-top: 28px;
  padding-right: 32px;
  padding-bottom: 39px;
  max-height: 480px;
  max-width: 540px;
  position: fixed;
  z-index: 9998;
  top: 30%;
  left: 30%;
}
.interlabs-oneclick__container .interlabs__info-dialog.hidden {
  display: none;
}
.interlabs-oneclick__container .interlabs__info-dialog .header {
  border-bottom: 1px solid #70bb18;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.interlabs-oneclick__container .interlabs__info-dialog .header label {
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  font-size: 24px;
  color: #000000;
  margin-right: 12px;
}
.interlabs-oneclick__container .interlabs__info-dialog .header .close-dialog {
  cursor: pointer;
}
.interlabs-oneclick__container .interlabs__info-dialog .body .form-group {
  margin-bottom: 28px;
}
.interlabs-oneclick__container
  .interlabs__info-dialog
  .body
  .form-group
  .scroll-area {
  height: 300px;
  overflow-y: auto;
}
.interlabs-oneclick__container
  .interlabs__info-dialog
  .body
  .form-group
  .btn.btn-close {
  width: 144px;
  height: 36px;
  background: #70bb18;
  border-radius: 2px;
  border: none;
  color: #f2f2f2;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .scroll-area {
    height: 100%;
    overflow-y: visible;
    margin-bottom: 28px;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group
    .captcha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group
    .captcha
    input[type="text"] {
    width: 100%;
    margin-top: 12px;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group
    .captcha
    img {
    width: 180px;
    height: 40px;
  }

  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog.modal-mask
    .modal-container {
    width: 100%;
    padding: 20px 10px;
  }
  .interlabs-oneclick__container .interlabs__info-dialog {
    top: 20px;
    left: 0;
  }
  .interlabs-oneclick__container .interlabs__info-dialog .scroll-area {
    overflow-y: auto !important;
    height: 150px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 200px) {
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog.modal-mask
    .modal-container {
    width: 200px;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group.control-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group.control-buttons
    a,
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group.control-buttons
    button {
    margin-bottom: 12px;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group
    .file
    label {
    margin-top: 12px;
    margin-left: 6px;
  }
}
@media screen and (min-width: 200px) and (max-width: 300px) {
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog.modal-mask
    .modal-container {
    width: 250px;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group.control-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group.control-buttons
    a,
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group.control-buttons
    button {
    margin-bottom: 12px;
  }
  .interlabs-oneclick__container
    .interlabs-oneclick__container__dialog
    .body
    .form-group
    .file
    label {
    margin-top: 12px;
    margin-left: 6px;
  }
}

.product-card .interlabs-one-click-buy,
.compare__item .interlabs-one-click-buy {
  height: auto;
  margin-top: 15px;
  font-weight: 500;
  padding: 0.8125rem 1.5rem;
}

.interlabs-oneclick__container__dialog small {
  font-size: 0.875rem;
}

.email-warning-more {
  font-style: italic;
  font-size: 13px;
}

@media (max-width: 767px) {
  .product-card .interlabs-one-click-buy,
  .compare__item .interlabs-one-click-buy {
    font-size: 14px;
    padding: 9px;
  }

  .interlabs-oneclick__container .modal-mask {
    z-index: 99999;
  }

  .product .interlabs-one-click-buy {
    margin-bottom: 0.938rem;
    width: 100%;
  }
}
