
.product-card-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 0 ;
  border-bottom: 1px solid #F0F1F3
}

.product-card-search__image {
  position: relative;
  background: #fff;
  border-radius: 0.875rem;
  width: 100px;
  height: 100px;
}
.product-card-search__image figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
}
.product-card-search__image img {
  max-width: 90%;
  max-height: 90%;
}
.product-card-search__fav:hover {
  color: #eb5806;
}
.product-card-search__image-actions {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.875rem 0.75rem;
  z-index: 1;
  color: #808d9a;
}
.product-card-search__image-actions .placeholder {
  width: 18px;
  height: 18px;
  border-radius: 6px;
  margin-left: 0.5rem;
}
.product-card-search__image-actions img,
.product-card-search__image-actions svg {
  margin-left: 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}
.product-card-search__image-actions svg:hover {
  color: #004989;
}
.product-card-search__article {
  margin-bottom: 0.5rem;
  color: #808d9a;
}
.product-card-search__title {
  max-width: 90%;
  height: 1.5rem;
  display: block;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 400;
  color: #333333;
  margin-bottom: 0.875rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 25px;
}
.product-card-search a {
  text-decoration: none;
  width: 100%;
  max-width: 550px;
}

.product-card-search-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 230px;
}

.product-card-search__add {
  display: flex;
  justify-content: stretch;
  justify-self: flex-end;
  height: 47px;
  width: 100%;
  background: #004989;
  border-radius: 4px;
  color: #fff;
}
.product-card-search__add .btn {
  width: 100%;
  font-weight: 500;
  padding: 0.8125rem 1.5rem;
  z-index: 1;
  color: #fff;
}

.product-card-search .interlabs-one-click-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 47px;
  width: 100%;
  background: #004989;
  border-radius: 4px;
  color: #fff;
}

.product-card-search__add .input-group, .product-card-search__add .input-group input {
  background-color: #eeeff3;
}
.product-card-search__add .input-group input {
  text-align: center;
  color: #333333;
  font-size: 1rem;
}
.product-card-search__add .input-group .btn {
  width: auto;
  border-radius: 0.25rem !important;
}
.product-card-search__add.placeholder-glow .placeholder {
  width: 100%;
  height: 48px;
  border-radius: 0.3125rem;
}
.product-card-search .stars.placeholder-glow {
  display: flex;
  gap: 2px;
}
.product-card-search .stars.placeholder-glow .placeholder {
  width: 12px;
  height: 12px;
  border-radius: 0.3125em;
}
.product-card-search .stars .star{
  cursor: auto;
}
.product-card-search__tags {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 30%;
  z-index: 2;
}
.product-card-search__tag {
  display: inline-block;
  color: #fff;
  padding: 0.125rem 0.375rem;
  background: #eb5806;
  border-radius: 0.3125rem;
  margin-right: 0.125rem;
  margin-bottom: 0.375rem;
}
.product-card-search__remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem !important;
  color: #808d9a;
  padding: 0 !important;
}
.product-card-search__availability {
  font-size: 0.75rem !important;
}
.product-card-search .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
  justify-self: flex-end;
  font-weight: 500;
  line-height: 130%;
}
.product-card-search .price--small {

}
.product-card-search .price__current {
  font-size: 1.625rem;
  color: #333333;
}
.product-card-search .price--small .price__current {
  font-size: 1rem;
}
.product-card-search .price__old {
  margin-left: 0.5rem;
  text-decoration-line: line-through;
}
.product-card-search .price__discount {
  display: inline-block;
  padding: 0 0.3125rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  background-color: #eb5806;
  color: #fff;
  border-radius: 0.25rem;
}

@media (max-width: 767.98px) {
  .product-card-search__title {
    height: 2.4rem;
  }
  .product-card-search__add .btn {
    padding: 0.563rem 1.875rem;
    font-size: 0.875rem;
  }
  .product-card-search__add .btn-primary {
    padding: 0.563rem 1rem;
    white-space: nowrap;
  }
  .product-card-search__article {
    font-size: 0.75rem;
    margin-bottom: 0.313rem;
  }
  .product-card-search__title {
    font-size: 0.875rem;
  }
}

@media (max-width: 1399px) {
  .product-card-search .product-card__availability {
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    border: none;
    background-color: inherit;
    min-height: inherit;
    padding: 0;
  }
  .product-card-search .product-card__button {
    min-height: 48px;
  }
  .product-card-search .product-card__article {
    height: 15px;
    margin-bottom: 15px;
  }
  .product-card-search .product-card__image figure {
    margin-bottom: 12px;
  }
}
@media (max-width: 991px) {
  .product-card-search .product-card__image {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .product-card-search .product-card__title {
    font-size: 14px;
    line-height: 18px;
    height: 36px;
  }
  .product-card-search .product-card__button {
    min-height: 35px;
    font-size: 14px;
    padding: 9px 1.5rem;
  }
  .product-card__add {
    height: 48px;
  }
  .product-card__add span {
    font-size: 14px;
    height: 38px;
  }
  .product-card__add input {
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 38px;
  }
  .product-card__availability {
    padding: 0 15px;
  }
}


/* --- */
.product-card-search.mobile {
  display: grid;
  grid-template:
          "a b b b"
          "a c c c"
          "d d d d";
  gap: 16px;
}

.product-card-search.mobile .product-card-search__image {
  grid-area: a;
}
.product-card-search.mobile > a {
  grid-area: b;
}
.product-card-search.mobile .stars {
  grid-area: c;
}
.product-card-search.mobile .product-card-search-buttons {
  grid-area: d;
  max-width: 100%;
}
/*.product-card-search .interlabs-one-click-buy{*/
/*  grid-area: e !important;*/
/*}*/
