@import '../assets/styles/base-imports';

.category-card {
    display: block;
    position: relative;
    border-radius: $border-radius-lg;
    transition: $transition-base;
    overflow: hidden;
    background-color: $gray-200;
    padding-top: 140%;

    &:hover {
        box-shadow: 0 0 66px rgba(0, 0, 0, 0.18);
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        padding-top: 100%;
        transform: translate3d(33%, -33%, 0) scale(0.95);
        transition: $transition-base;
        //background-image: url('../../../../assets/images/category-card-bg.svg');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }

    &:hover &__background {
        opacity: 1;
        transform: translate3d(30%, -30%, 0) scale(1.05);
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &__image {
        height: 320px;
        width: 100%;
        transform: scale(1.05);
        transition: $transition-base;

        img {
            width: 100%;
        }
    }

    &:hover &__image {
        transform: scale(1);
    }

    &__title {
        text-align: center;
        color: $gray-900;
        font-size: 1.625rem;
        font-weight: 500;
    }

    &--compact &__title {
        margin-top: 2.5rem;
        font-size: 1rem;
    }

    &__count {
        text-align: center;
        font-size: 1rem;
        margin-top: 0.75rem;
        color: $gray-600;
    }

    @include media-breakpoint-down('xxl') {
        &__image {
            height: 250px;
        }
    }
    @include media-breakpoint-down('xl') {
        &__image {
            height: 200px;
        }
    }
    @include media-breakpoint-down('lg') {
        &--compact &__title {
            margin: -1rem 1rem 0;
        }
        &__image {
            height: 210px;
        }
    }
    @include media-breakpoint-down('md') {
        &__image {
            height: 100px;
        }
        &--compact &__title {
            margin: -1rem 1rem 0;
        }
    }
}

@include media-breakpoint-down('lg') {
    .category-card {
        padding-top: 170%;

        .category-card__title {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

@include media-breakpoint-down('md') {
    .category-card {
        padding-top: 150%;
    }
}

@include media-breakpoint-down('sm') {
    .container {
        padding: 0 15px;
    }
    .category-card {
        padding-top: 140%;

        .category-card__title {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}

@media (max-width: 1199px) {
    .catalog {
        .category-card__title {
            padding: 0 25px;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

@media (max-width: 991px) {
    .catalog {
        .category-card {
            padding-top: 150%;
        }

        .category-card__title {
            min-height: 48px;
        }
    }
}

@media (max-width: 767px) {
    .catalog {
        .category-card {
            padding-top: 160%;
        }

        .category-card__title {
            min-height: 34px;
            font-size: 14px;
            line-height: 17px;
        }

        .category-card__count {
            margin-top: 5px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    .category-card {
        &--compact &__title {
            font-size: 0.75rem;
            margin-top: auto;
            margin-left: 0.438rem;
            margin-right: 0.438rem;
        }

        &__body {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-bottom: 0.875rem;
        }
    }
}


@media (max-width: 575px) {
    .catalog {
        .category-card {
            padding-top: 165%;
        }

        .category-card__title {
            padding: 0 10px;
        }
    }
}

@media (max-width: 479px) {
    .category-card {
        padding-top: 158%;
    }
}

@media (max-width: 425px) {
    .category-card {
        padding-top: 145%;
    }
}
