.container {
    padding-top: 64px;
    width: 100% !important;
}

.container h1 {
    margin: 16px 0 0 0;
    padding: 0 0 64px 0;
    font-size: 64px;
    line-height: 70.4px;
    font-weight: 600;
    color: var(--color-dark6);
    letter-spacing: -0.001px;
}

.bx-soa-section-title {
    color: var(--color-dark6);
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -0.001px;
    padding: 0;
    margin: 0 0 24px 0;
}

.bx-soa-section-content {
    display: block !important;
}

.bx-soa-section {
    padding: 24px;
    border: 1px solid var(--color-gray3);
    border-radius: 8px;
    margin-bottom: 48px;
}

.bx-soa-section .col-xs-12,
.bx-soa-section .row,
.bx-soa-section .col-xs-9б
.container-fluid {
    padding: 0;
}
.bx-soa-section .col-xs-12::before,
.bx-soa-section .row::before,
.bx-soa-section .col-xs-9::before,
.bx-soa-section .col-xs-12::after,
.bx-soa-section .row::after,
.bx-soa-section .col-xs-9::after,
.bx-soa-more-btn,
.bx-soa-editstep,
.bx-soa-location-input-container label,
.bx-soa-coupon,
#bx-soa-delivery .bx-soa-section-title-container,
#bonus_payment_block {
    display: none !important;
}

.bx-sls {
    display: flex;
    flex-direction: column;
}

.bx-sls .quick-locations {
    order: 1;
    margin: 16px 0 0 0;
    padding: 0;
}

.bx-sls .quick-locations {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.bx-sls .quick-locations a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid var(--color-dark1);
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-dark6);
    text-decoration: none;
    height: fit-content;
}

.bx-soa-reference {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    color: var(--color-gray6);
}

.bx-sls .dropdown-block {
    height: 50px;
    border: none;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    padding: 0 40px;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-gray5);
    font-weight: 400;
}

.bx-sls .dropdown-icon {
    background: url('/local/templates/hut/components/bitrix/sale.order.ajax/hut_order/images/lupa.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    top: 15px;
}

.bx-sls .bx-ui-sls-container {
    min-height: 50px;
}

.bx-sls .bx-ui-sls-fake,
.bx-sls .bx-ui-sls-route {
    height: 50px;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-dark6);
}

.bx-sls .dropdown-fade2white {
    background: var(--color-gray1);
    top: 9px;
}

.bx-sls .bx-ui-sls-clear {
    background: url('/local/templates/hut/components/bitrix/sale.order.ajax/hut_order/images/clear.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    top: 12px;
    right: 12px;
}

.bx-sls .bx-ui-sls-clear:hover {
    background-position: unset;
}

.bx-sls .bx-ui-sls-fake::placeholder {
    opacity: 0.5;
}

.bx-sls .bx-ui-sls-fake:focus {
    border-color: var(--color-primary);
}

.bx-sls .bx-ui-sls-pane {
    box-shadow: 0px 20px 25px -5px #0000000D;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px;
    border: none;
}

.bx-sls .dropdown-item {
    padding: 10px 12px;
}

.bx-sls .dropdown-item span {
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-delivery .bx-soa-pp-item-container {
    padding: 0;
    display: grid;
    grid-template-columns: 426px 426px;
    gap: 16px;
    width: 100%;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company {
    width: 100%;
    max-width: 426px;
    padding: 16px;
    border: 1px solid var(--color-gray2);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 12px;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-checkbox,
#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-image {
    display: none !important;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-delivery-cost {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    display: block;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: var(--color-gray2);
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-graf-container {
    outline: none;
    border: 2px solid var(--color-gray2);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    background-color: #fff;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1px;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-title {
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-description {
    font-size: 14px;
    line-height: 18.2px;
    color: var(--color-gray6);
    font-weight: 400;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected {
    border-color: var(--color-primary);
    padding: 25px 16px;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container {
    border-width: 6px;
    border-color: var(--color-primary);
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected  .bx-soa-pp-delivery-cost {
    color: #fff;
    background-color: var(--color-primary);
}

#bx-soa-delivery .bx-soa-pp-desc-container {
    padding: 0;
    margin-top: 24px;
}

#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-subTitle,
#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-logo,
#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-list,
#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-desc {
    display: none !important;
}

#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-block div {
    width: fit-content;
}

#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-block div a {
    display: block;
    width: fit-content;
    padding: 12px 16px;
    background: var(--color-primary);
    color: #fff;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    border: none;
}

#bx-soa-delivery {
    padding: 0;
    border: none;
    margin: 24px 0 0 0;
}

#bx-soa-paysystem .bx-soa-pp-desc-container {
    display: none;
}

#bx-soa-paysystem .bx-soa-pp-item-container {
    padding: 0;
    display: grid;
    grid-template-columns: 426px 426px;
    gap: 16px;
    width: 100%;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company {
    width: 100%;
    max-width: 426px;
    padding: 16px;
    border: 1px solid var(--color-gray2);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 12px;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-checkbox,
#bx-soa-paysystem.bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-image {
    display: none !important;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-delivery-cost {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    display: block;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: var(--color-gray2);
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-graf-container {
    outline: none;
    border: 2px solid var(--color-gray2);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    background-color: #fff;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1px;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-title {
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-description {
    font-size: 14px;
    line-height: 18.2px;
    color: var(--color-gray6);
    font-weight: 400;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected {
    border-color: var(--color-primary);
    padding: 25px 16px;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container {
    border-width: 6px;
    border-color: var(--color-primary);
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected  .bx-soa-pp-delivery-cost {
    color: #fff;
    background-color: var(--color-primary);
}

#bx-promo-block .bx-soa-coupon {
    display: block !important;
}

#bx-promo-block .bx-soa-coupon input {
    max-width: 442px;
    width: 100%;
    border: none;
    outline: none;
    display: inline-block;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px 12px;
    color: var(--color-gray5);
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    height: 50px;
    box-shadow: none !important;
}

#bx-promo-block .bx-soa-coupon input::placeholder {
    opacity: 0.8;
}

#bx-promo-block .bx-soa-coupon input:focus {
    box-shadow: none;
}

#bx-promo-block .bx-soa-coupon #activate-coupon {
    border: 1px solid var(--color-dark1);
    background-color: #fff;
    padding: 13px 28px;
    height: 50px;
    color: var(--color-dark6);
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    margin-left: 8px;
    border-radius: 12px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

#bx-soa-properties .bx-soa-customer {
    padding: 0;
}

#bx-soa-properties .bx-soa-customer .form-group {
    margin-bottom: 24px;
}

#bx-soa-properties .bx-soa-customer .form-group:last-child {
    margin-bottom: 0;
}

#bx-soa-properties .bx-soa-customer .form-group label {
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 600;
    color: var(--color-dark6);
    margin-bottom: 6px;
}

#bx-soa-properties .bx-soa-customer .form-group label .bx-authform-starrequired {
    color: var(--color-red5);
    margin-left: 2px;
}

#bx-soa-properties .bx-soa-customer .form-group .soa-property-container input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px 12px;
    color: var(--color-gray5);
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    height: 50px;
    box-shadow: none !important;
}

#bx-soa-properties .bx-soa-customer .form-group.flex {
    display: inline-block;
    width: calc(100% - 49.1% - 24px);
}

#bx-soa-properties .bx-soa-customer .form-group.flex[data-property-id-row="2"] {
    margin-right: 24px;
}

#bx-soa-properties .bx-soa-customer .form-group .soa-property-container textarea {
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 16px 12px;
    box-shadow: none !important;
    color: var(--color-gray5);
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
}

.back-to-cart-block a {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.6px;
    width: fit-content;
}

.bx-soa-customer-field[data-property-id-row="5"] {
    display: none;
}

.bx-soa-cart-total #bonus_add_block {
    display: none !important;
}

.bx-soa-cart-total .bx-soa-cart-total-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
}

.bx-soa-cart-total .bx-soa-cart-total-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray3);
    position: absolute;
    z-index: -1;
}

.bx-soa-cart-total .bx-soa-cart-total-line .bx-soa-cart-t {
    position: relative;
    z-index: 2;
    padding-right: 8px;
    background-color: #fff;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

.bx-soa-cart-total .bx-soa-cart-total-line .bx-soa-cart-d {
    position: relative;
    z-index: 2;
    padding-left: 8px;
    background-color: #fff;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 600;
    color: var(--color-dark6);
}

.bx-soa-cart-total .bx-soa-cart-total-line.bx-soa-cart-total-line-total .bx-soa-cart-d {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    letter-spacing: -0.006em;
}

.bx-soa-cart-total .bx-soa-cart-total-line.bx-soa-cart-total-line-total {
    margin-bottom: 0;
}

.bx-soa-cart-total .bx-soa-cart-total-line.bx-soa-cart-total-line-highlighted span {
    color: var(--color-primary);
}

#bx-soa-orderSave {
    display: flex;
    align-items: start;
    gap: 24px;
    justify-content: space-between;
    margin-top: 24px;
}

#bx-soa-orderSave .buttons-block {
    max-width: 243px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

#bx-soa-orderSave .buttons-block a {
    margin: 0 0 16px 0 !important;
    padding: 28px 32px;
    background-color: var(--color-primary);
    border-radius: 16px;
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

#bx-soa-orderSave .personal-request {
    color: var(--color-gray5);
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
}

#bx-soa-orderSave .personal-request a {
    color: var(--color-gray5);
    text-decoration: underline;
}

#bx-soa-orderSave .buttons-block .need-call input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#bx-soa-orderSave .buttons-block .need-call input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: var(--color-dark6);
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    cursor: pointer;
}

#bx-soa-orderSave .buttons-block .need-call input+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 6px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid var(--color-green6);
}

#bx-soa-orderSave .buttons-block .need-call input:checked+label::before {
    background-color: var(--color-green6);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3751 5.12688C17.7656 5.5174 17.7656 6.15057 17.3751 6.54109L9.04174 14.8744C8.85421 15.062 8.59985 15.1673 8.33464 15.1673C8.06942 15.1673 7.81506 15.062 7.62753 14.8744L3.46086 10.7078C3.07034 10.3172 3.07034 9.68407 3.46086 9.29354C3.85139 8.90302 4.48455 8.90302 4.87508 9.29354L8.33464 12.7531L15.9609 5.12688C16.3514 4.73635 16.9846 4.73635 17.3751 5.12688Z' fill='white'/%3e%3c/svg%3e");
}

#bx-soa-basket .bx-soa-section-title {
    width: 100% !important;
    float: unset;
}

#bx-soa-basket .container-fluid::before,
#bx-soa-basket .container-fluid::after,
#bx-soa-basket .bx-soa-item-img-block {
    display: none !important;
}

#bx-soa-basket .bx-soa-section-content {
    padding: 0;
}

#bx-soa-basket .bx-soa-item-tr {
    display: flex;
    width: 100%;
    align-items: start;
}

#bx-soa-basket .bx-soa-item-table {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

#bx-soa-basket .bx-soa-item-table > div {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-gray2);
}

#bx-soa-basket .bx-soa-item-table > div:last-child {
    padding-bottom: 0;
    border-bottom: unset;
}

#bx-soa-basket .bx-soa-item-tr .bx-soa-item-properties.DETAIL_PICTURE {
    order: -1;
    min-width: 217px;
    max-width: 217px;
    min-height: 237px;
    max-height: 237px;
    background-color: var(--color-dark0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

#bx-soa-basket .bx-soa-item-tr .bx-soa-item-properties.DETAIL_PICTURE img {
    max-width: 100%;
    height: auto;
}

#bx-soa-basket .bx-soa-item-tr .bx-soa-item-properties.PRICE_FORMATED {
    order: 1;
}

#bx-soa-basket .bx-soa-item-tr .bx-soa-item-properties.QUANTITY {
    max-width: 130px;
    width: 100%;
    margin-right: 48px;
}

#bx-soa-basket .bx-soa-item-tr .bx-soa-item-properties.QUANTITY .bx-soa-item-td-text span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: var(--color-dark6);
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td:first-child {
    max-width: 600px;
    width: 100%;
    margin-right: 48px;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td .bx-soa-item-title a {
    font-weight: 600;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-dark6);
    margin-bottom: 8px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td .bx-soa-item-section {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-gray5);
    text-decoration: none;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td .bx-item-props {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td .bx-item-props .bx-soa-item-props-item {
    display: flex;
    align-items: center;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td .bx-item-props .bx-soa-item-props-item .bx-soa-item-props-item_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-dark6);
    margin-right: 6px;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td .bx-item-props .bx-soa-item-props-item .bx-soa-item-props-item_value {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-dark6);
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td .bx-item-props .bx-soa-item-props-item .bx-soa-item-props-item_children {
    display: block;
    margin-right: 8px;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border: 1px solid var(--color-dark6);
    border-radius: 50%;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td.PRICE_FORMATED .bx-soa-item-td-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    white-space: nowrap;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td.PRICE_FORMATED .bx-soa-item-td-text .bx-price-old {
    text-decoration: line-through;
    color: var(--color-dark4);
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: -0.001px;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td.PRICE_FORMATED .bx-soa-item-td-text .bx-price.have-sale {
    color: var(--color-primary6);
    letter-spacing: -0.001px;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 600;
}

#bx-soa-basket .bx-soa-item-table > div .bx-soa-item-td.PRICE_FORMATED .bx-soa-item-td-text .bx-price {
    color: var(--color-dark6);
    letter-spacing: -0.001px;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 600;
}

@media (max-width: 1300px) {
    #bx-soa-order {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    #bx-soa-order.row:before {
        display: none;
    }

    #bx-soa-order .col-sm-9.bx-soa {
        width: 100%;
    }

    #bx-soa-order .col-sm-3.bx-soa-sidebar.back-to-cart-block {
        width: 100%;
        order: -1;
    }
}