.container {
    padding-top: 64px;
    width: 100% !important;
}

.container h1 {
    margin: 16px 0 0 0;
    padding: 0 0 64px 0;
    font-size: 64px;
    line-height: 70.4px;
    font-weight: 600;
    color: var(--color-dark6);
    letter-spacing: -0.001px;
}

.bx-soa-section-title {
    color: var(--color-dark6);
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -0.001px;
    padding: 0;
    margin: 0 0 24px 0;
}

.bx-soa-section-content {
    display: block !important;
}

.bx-soa-section {
    padding: 24px;
    border: 1px solid var(--color-gray3);
    border-radius: 8px;
    margin-bottom: 48px;
}

.bx-soa-section .col-xs-12,
.bx-soa-section .row,
.bx-soa-section .col-xs-9б
.container-fluid {
    padding: 0;
}
.bx-soa-section .col-xs-12::before,
.bx-soa-section .row::before,
.bx-soa-section .col-xs-9::before,
.bx-soa-section .col-xs-12::after,
.bx-soa-section .row::after,
.bx-soa-section .col-xs-9::after,
.bx-soa-more-btn,
.bx-soa-editstep,
.bx-soa-location-input-container label,
.bx-soa-coupon,
#bx-soa-delivery .bx-soa-section-title-container {
    display: none !important;
}

.bx-sls {
    display: flex;
    flex-direction: column;
}

.bx-sls .quick-locations {
    order: 1;
    margin: 16px 0 0 0;
    padding: 0;
}

.bx-sls .quick-locations {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.bx-sls .quick-locations a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid var(--color-dark1);
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-dark6);
    text-decoration: none;
    height: fit-content;
}

.bx-soa-reference {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    color: var(--color-gray6);
}

.bx-sls .dropdown-block {
    height: 50px;
    border: none;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    padding: 0 40px;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-gray5);
    font-weight: 400;
}

.bx-sls .dropdown-icon {
    background: url('/local/templates/hut/components/bitrix/sale.order.ajax/hut_order/images/lupa.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    top: 15px;
}

.bx-sls .bx-ui-sls-container {
    min-height: 50px;
}

.bx-sls .bx-ui-sls-fake,
.bx-sls .bx-ui-sls-route {
    height: 50px;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--color-dark6);
}

.bx-sls .dropdown-fade2white {
    background: var(--color-gray1);
    top: 9px;
}

.bx-sls .bx-ui-sls-clear {
    background: url('/local/templates/hut/components/bitrix/sale.order.ajax/hut_order/images/clear.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    top: 12px;
    right: 12px;
}

.bx-sls .bx-ui-sls-clear:hover {
    background-position: unset;
}

.bx-sls .bx-ui-sls-fake::placeholder {
    opacity: 0.5;
}

.bx-sls .bx-ui-sls-fake:focus {
    border-color: var(--color-primary);
}

.bx-sls .bx-ui-sls-pane {
    box-shadow: 0px 20px 25px -5px #0000000D;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px;
    border: none;
}

.bx-sls .dropdown-item {
    padding: 10px 12px;
}

.bx-sls .dropdown-item span {
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-delivery .bx-soa-pp-item-container {
    padding: 0;
    display: grid;
    grid-template-columns: 426px 426px;
    gap: 16px;
    width: 100%;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company {
    width: 100%;
    max-width: 426px;
    padding: 16px;
    border: 1px solid var(--color-gray2);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 12px;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-checkbox,
#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-image {
    display: none !important;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-delivery-cost {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    display: block;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: var(--color-gray2);
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-graf-container {
    outline: none;
    border: 2px solid var(--color-gray2);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    background-color: #fff;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1px;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-title {
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-description {
    font-size: 14px;
    line-height: 18.2px;
    color: var(--color-gray6);
    font-weight: 400;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected {
    border-color: var(--color-primary);
    padding: 25px 16px;
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container {
    border-width: 6px;
    border-color: var(--color-primary);
}

#bx-soa-delivery .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected  .bx-soa-pp-delivery-cost {
    color: #fff;
    background-color: var(--color-primary);
}

#bx-soa-delivery .bx-soa-pp-desc-container {
    padding: 0;
    margin-top: 24px;
}

#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-subTitle,
#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-logo,
#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-list,
#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-desc {
    display: none !important;
}

#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-block div {
    width: fit-content;
}

#bx-soa-delivery .bx-soa-pp-desc-container .bx-soa-pp-company-block div a {
    display: block;
    width: fit-content;
    padding: 12px 16px;
    background: var(--color-primary);
    color: #fff;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    border: none;
}

#bx-soa-delivery {
    padding: 0;
    border: none;
    margin: 24px 0 0 0;
    display: none;
}

#bx-soa-paysystem .bx-soa-pp-desc-container {
    display: none;
}

#bx-soa-paysystem .bx-soa-pp-item-container {
    padding: 0;
    display: grid;
    grid-template-columns: 426px 426px;
    gap: 16px;
    width: 100%;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company {
    width: 100%;
    max-width: 426px;
    padding: 16px;
    border: 1px solid var(--color-gray2);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 12px;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-checkbox,
#bx-soa-paysystem.bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-image {
    display: none !important;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-delivery-cost {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    display: block;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: var(--color-gray2);
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-graf-container {
    outline: none;
    border: 2px solid var(--color-gray2);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    background-color: #fff;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1px;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-title {
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    color: var(--color-dark6);
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-smalltitle .bx-soa-pp-company-description {
    font-size: 14px;
    line-height: 18.2px;
    color: var(--color-gray6);
    font-weight: 400;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected {
    border-color: var(--color-primary);
    padding: 25px 16px;
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container {
    border-width: 6px;
    border-color: var(--color-primary);
}

#bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected  .bx-soa-pp-delivery-cost {
    color: #fff;
    background-color: var(--color-primary);
}

#bx-promo-block .bx-soa-coupon {
    display: block !important;
}

#bx-promo-block .bx-soa-coupon input {
    max-width: 442px;
    width: 100%;
    border: none;
    outline: none;
    display: inline-block;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px 12px;
    color: var(--color-gray5);
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    height: 50px;
    box-shadow: none !important;
}

#bx-promo-block .bx-soa-coupon input::placeholder {
    opacity: 0.8;
}

#bx-promo-block .bx-soa-coupon input:focus {
    box-shadow: none;
}

#bx-promo-block .bx-soa-coupon #activate-coupon {
    border: 1px solid var(--color-dark1);
    background-color: #fff;
    padding: 13px 28px;
    height: 50px;
    color: var(--color-dark6);
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    margin-left: 8px;
    border-radius: 12px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

#bx-soa-properties .bx-soa-customer {
    padding: 0;
}

#bx-soa-properties .bx-soa-customer .form-group {
    margin-bottom: 24px;
}

#bx-soa-properties .bx-soa-customer .form-group:last-child {
    margin-bottom: 0;
}

#bx-soa-properties .bx-soa-customer .form-group label {
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 600;
    color: var(--color-dark6);
    margin-bottom: 6px;
}

#bx-soa-properties .bx-soa-customer .form-group label .bx-authform-starrequired {
    color: var(--color-red5);
    margin-left: 2px;
}

#bx-soa-properties .bx-soa-customer .form-group .soa-property-container input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px 12px;
    color: var(--color-gray5);
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    height: 50px;
    box-shadow: none !important;
}

#bx-soa-properties .bx-soa-customer .form-group.flex {
    display: inline-block;
    width: calc(100% - 49.1% - 24px);
}

#bx-soa-properties .bx-soa-customer .form-group.flex[data-property-id-row="2"] {
    margin-right: 24px;
}

#bx-soa-properties .bx-soa-customer .form-group .soa-property-container textarea {
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-gray3);
    background-color: var(--color-gray1);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 16px 12px;
    box-shadow: none !important;
    color: var(--color-gray5);
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
}