.ui-swiper {
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C9C9C9;
    width: 58px;
    height: 58px;
    border-radius: 0;
    transition: border-color 0.25s ease;
    background-color: transparent;

    @include lg-screen {
      width: 58px;
      height: 58px;
      background-color: transparent;
    }

    .icon {
      @include lg-screen {
        font-size: 10px;
      }
    }

    &:hover {
      border-color: #B20E04;
      background-color: transparent;
    }
  }
}